
<div id="main">

	<div class="banner_box">
        <div class="banner">
            {foreach $hm_contactfdk_adlist as $key=>$value}
				<div id="news-{$key}">
				<a href="{$value['url']}"><img src="admin/{$value['picture']}" alt="{$value['adname']}"></a>
				</div>
			{/foreach}
        </div><!--banner-->
    </div>
    
    
    
    <div class="main_box">
    	
        
        <div class="contactbox">
        	<h2>{gprop("contact")}</h2>
	      <form name="sendMessage" id="sendMessage" action="{$url}&mod=contact&act=dosendmsg" enctype="multipart/form-data" method="post">
        	<div class="main_left">
            	<div class="right_list">
                    <div class="conatct">
                    	<dl>
                        	<dt>{gprop("name")}：</dt>
                            <dd>
                            	<input id="name" type="text" value="" name="name" class="input_w" />
                            </dd>
                        </dl>
                        <dl>
                        	<dt>{gprop("email")}：</dt>
                            <dd>
                            	<input id="email" type="text" value="" name="name" class="input_w" />
                            </dd>
                        </dl>
                        <dl>
                        	<dt>{gprop("content")}：</dt>
                            <dd>
                            	<textarea id="content" name="message" cols="30" rows="10" class="textarea_w"></textarea>
                            </dd>
                        </dl>
                        <dl>
                        	<dt>&nbsp;</dt>
                            <dd>
                                <input onclick="submitmsg();" type="button" value="{gprop('submit')}" name="enter" class="btn_enter" />
                                <input onclick="cancelmsg();" type="button" value="{gprop('cancel')}" name="cancel" class="btn_cancel" />
                            </dd>
                        </dl>
                    </div>
                </div>
                
            </div>
          </form>			
            <div class="main_right">
			    {foreach $hm_addresses as $key=>$value}
					<div class="right_list">
						<p><b>{$value['addresstype']}:</b><br />
						<p>{gprop("address")}：{$value['address']}<br />
							{gprop("tel")}：{$value['tel']}<br /> 
							{gprop("fax")}：{$value['tax']}<br /> 
							{gprop("code")}：{$value['code']}<br /> 
							{gprop("email")}：{$value['email']} <br /> 
							{gprop("web")}：{$value['website']} <br /> 
						</p>
					</div>
				{/foreach}
            </div>
        </div>
        
        
    </div>
	


    

</div><!--#main-->


<script language="javascript">

    function submitmsg()
	{
	    var name = document.getElementById('name').value;
		var email = document.getElementById('email').value;
		var content = document.getElementById('content').value;
		//alert(name);
		if(name=="" || email==null || content==null)
		{
		    alert("{gprop('message')}");
		}
		else
		{
		    $("#sendMessage").submit();
		}
	}
	function cancelmsg()
	{
	    document.getElementById('name').value = "";
		document.getElementById('email').value = ""
		document.getElementById('content').value=""
	}
</script>

