
    
<div id="main">

	<div class="banner_box">
        <div class="banner">
            <div><img src="images/banner/job.jpg" alt="" /></div>
        </div><!--banner-->
    </div>
    
    
    
    <div class="main_box">
    	
        
        <div class="jobbox">
        	<div class="main_left">
            	<h2>{$hm_joblist['title']}</h2>
                <p>{$hm_joblist['content']} </p>

            </div>
            <div class="main_right">

                <div class="right_list">
                	<h3>{gprop("hrcontact")}：</h3>
                    <p>
                    {gprop("tel")}：{$hm_joblist['tel']}<br /> 
                    {gprop("hr")}：{$hm_joblist['contacts']}
                    </p>
                </div>
            </div>
        </div>
        
        
    </div>

    

</div><!--#main-->

