<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<title>品牌活动 - eophy</title>
<meta name="keywords" content="悠菲中国, eophy" />
<meta name="description" content="悠菲中国, 品味最纯生活" />
<link type="image/png" rel="icon" href="favicon.png" />
<link rel="stylesheet" type="text/css" href="css/common.css" />
<link rel="stylesheet" type="text/css" href="css/layout.css" />
<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="js/PIE_IE678.js"></script>
<![endif]-->
<script type="text/javascript" src="js/private.js"></script>
<script type="text/javascript" src="js/slides.min.jquery.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $("#activ_slide").slides({
      container: 'slides_container',
      pagination: true,
      generatePagination: true,
      play: 3000,
      pause: 1000
    });
  });
</script>
</head>
<body>
<div id="container">
  <div id="header">
    <div class="h_box">
      <div class="logo"><a href="index.html"><img src="images/logo.png" alt="" /></a></div>
      <div class="menu">
        <ul>
          <li><a href="index.html">首页</a></li>
          <li><a href="about_us.html">关于我们</a>
            <div class="submenu">
              <ul>
                  <li class="title"><a href="about_us.html">公司介绍</a></li>
                  <li class="title"><a href="about_us_2.html">品牌介绍</a></li>
                  <li class="title"><a href="about_us_3.html">品牌VIDEO</a></li>                  
              </ul>
            </div>
          </li>
          <li><a href="products.html">产品中心</a></li>
          <li><a href="news.html">新闻媒体</a></li>
          <li><a href="active.html" class="active">品牌活动</a></li>
          <li><a href="faq.html">营养咨询</a></li>
          <li><a href="sale.html">售卖专柜</a></li>
          <li><a href="shop.html">网络商城</a></li>
        </ul>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <!--#header-->
  <div id="main">
    <div class="activeBox">
      <div class="box">
        <div class="top mtop">
          <div class="info">
            今日:  <a href="#">18</a> | 昨日: <a href="#">12</a> | 帖子: <a href="#">3680</a> | 会员: <a href="#">656</a>  |  欢迎新会员: <a href="#">xsp666</a>
          </div>
          <div class="login">
            <a id="win_show" href="javascript:;">登陆</a>
            <a href="register.html">注册</a>
          </div>
        </div>
        <div class="cont">
          <dl>
            <dt>
             <div id="activ_slide">
              <div class="slides_container">
                <div class="list">
                  <div class="pic"><img src="images/pic/active/slide_1.jpg" alt=""/></div>
                  <div class="text"><a href="#">悠菲天然营养补充1</a></div>
                </div>
                <div class="list">
                  <div class="pic"><img src="images/pic/active/slide_2.jpg" alt=""/></div>
                  <div class="text"><a href="#">悠菲天然营养补充2</a></div>
                </div>
                <div class="list">
                  <div class="pic"><img src="images/pic/active/slide_1.jpg" alt=""/></div>
                  <div class="text"><a href="#">悠菲天然营养补充3</a></div>
                </div>
                <div class="list">
                  <div class="pic"><img src="images/pic/active/slide_2.jpg" alt=""/></div>
                  <div class="text"><a href="#">悠菲天然营养补充4</a></div>
                </div>
              </div>
             </div>
            </dt>
            <dd>
              <div class="tab">
                <div class="title" id="topicTab">
                  <a href="javascript:;" class="selected">最新主题</a>
                  <a href="javascript:;">最新回复</a>
                  <a href="javascript:;">精华主题</a>
                </div>
              </div>
              <div class="topicList">
                <div class="topic" style="display:block;">
                  <ul>
                    <li><span class="num">1</span><a href="active_sub_detail.html">时尚魔女</a><span class="rt">admin</span></li>
                    <li><span class="num">2</span><a href="active_sub_detail.html">美白，去痘印一次搞定，皮肤真的白皙透亮好美呀！</a><span class="rt">admin</span></li>
                    <li><span class="num">3</span><a href="active_sub_detail.html">哈哈，美女哦</a><span class="rt">lucy</span></li>
                    <li><span class="num">4</span><a href="active_sub_detail.html">期待瘦得快吗？那就不要熬夜</a><span class="rt">admin</span></li>
                    <li><span class="num">5</span><a href="active_sub_detail.html">【美女自爆】皮肤滑了，人也变了，鸡皮肤的童鞋们加油</a><span class="rt">admin</span></li>
                    <li><span class="num">6</span><a href="active_sub_detail.html">今天，让我再看一次，就一次</a><span class="rt">admin</span></li>
                    <li><span class="num">7</span><a href="active_sub_detail.html">黑眼圈做手术祛除好还是用眼霜比较好？</a><span class="rt">admin</span></li>
                    <li><span class="num">8</span><a href="active_sub_detail.html">护理皮肤</a><span class="rt">admin</span></li>
                    <li><span class="num">9</span><a href="active_sub_detail.html">夏季小心切勿进入防晒误区</a><span class="rt">admin</span></li>
                    <li><span class="num">10</span><a href="active_sub_detail.html">特卖我凑个热闹咯，给力给力真给力！</a><span class="rt">admin</span></li>
                  </ul>
                </div>
                <div class="topic">
                  <ul>
                    <li><span class="num">3</span><a href="active_sub_detail.html">回复：哈哈，美女哦</a><span class="rt">lucy</span></li>
                    <li><span class="num">4</span><a href="active_sub_detail.html">回复：期待瘦得快吗？那就不要熬夜</a><span class="rt">admin</span></li>
                    <li><span class="num">5</span><a href="active_sub_detail.html">回复：【美女自爆】皮肤滑了，人也变了，鸡皮肤的童鞋们加油</a><span class="rt">admin</span></li>
                    <li><span class="num">6</span><a href="active_sub_detail.html">回复：今天，让我再看一次，就一次</a><span class="rt">admin</span></li>
                    <li><span class="num">7</span><a href="active_sub_detail.html">回复：黑眼圈做手术祛除好还是用眼霜比较好？</a><span class="rt">admin</span></li>
                    <li><span class="num">1</span><a href="active_sub_detail.html">回复：时尚魔女</a><span class="rt">admin</span></li>
                    <li><span class="num">2</span><a href="active_sub_detail.html">回复：美白，去痘印一次搞定，皮肤真的白皙透亮好美呀！</a><span class="rt">admin</span></li>
                    <li><span class="num">8</span><a href="active_sub_detail.html">回复：护理皮肤</a><span class="rt">admin</span></li>
                    <li><span class="num">9</span><a href="active_sub_detail.html">回复：夏季小心切勿进入防晒误区</a><span class="rt">admin</span></li>
                    <li><span class="num">10</span><a href="active_sub_detail.html">回复：特卖我凑个热闹咯，给力给力真给力！</a><span class="rt">admin</span></li>
                  </ul>
                </div>
                <div class="topic">
                  <ul>
                    <li><span class="num">8</span><a href="active_sub_detail.html">精华：护理皮肤</a><span class="rt">admin</span></li>
                    <li><span class="num">9</span><a href="active_sub_detail.html">精华：夏季小心切勿进入防晒误区</a><span class="rt">admin</span></li>
                    <li><span class="num">10</span><a href="active_sub_detail.html">精华：特卖我凑个热闹咯，给力给力真给力！</a><span class="rt">admin</span></li>
                    <li><span class="num">1</span><a href="active_sub_detail.html">精华：时尚魔女</a><span class="rt">admin</span></li>
                    <li><span class="num">2</span><a href="active_sub_detail.html">精华：美白，去痘印一次搞定，皮肤真的白皙透亮好美呀！</a><span class="rt">admin</span></li>
                    <li><span class="num">3</span><a href="active_sub_detail.html">精华：哈哈，美女哦</a><span class="rt">lucy</span></li>
                    <li><span class="num">4</span><a href="active_sub_detail.html">精华：期待瘦得快吗？那就不要熬夜</a><span class="rt">admin</span></li>
                    <li><span class="num">5</span><a href="active_sub_detail.html">精华：【美女自爆】皮肤滑了，人也变了，鸡皮肤的童鞋们加油</a><span class="rt">admin</span></li>
                    <li><span class="num">6</span><a href="active_sub_detail.html">精华：今天，让我再看一次，就一次</a><span class="rt">admin</span></li>
                    <li><span class="num">7</span><a href="active_sub_detail.html">精华：黑眼圈做手术祛除好还是用眼霜比较好？</a><span class="rt">admin</span></li>
                  </ul>
                </div>
              </div>
            </dd>
          </dl>
        </div>
        <div class="bottom">
          <div class="head">eophy-品味最纯生活</div>
          <ul>
            <li>
              <dl>
                <dt><a href="active_sub.html"><img src="images/pic/active/icon_1.png" alt=""></a></dt>
                <dd>
                  <a href="active_sub.html">申请会员</a>
                  <p>
                    <span class="green">会员: 656, 帖数: 3680</span><br/>
                    欢迎新会员: xsp666
                  </p>
                </dd>
              </dl>
            </li>
            <li>
              <dl>
                <dt><a href="active_sub.html"><img src="images/pic/active/icon_2.png" alt=""></a></dt>
                <dd>
                  <a href="active_sub.html">会员社群</a>
                  <p>
                    <span class="green">主题: 78, 帖数: 233</span><br/>
                    使用后，皮肤明显光滑细腻...<br/>
                    2013-8-8 15:04
                  </p>
                </dd>
              </dl>
            </li>
            <li>
              <dl>
                <dt><a href="active_sub.html"><img src="images/pic/active/icon_3.png" alt=""></a></dt>
                <dd>
                  <a href="active_sub.html">活动专区</a>
                  <p>
                    <span class="green">主题: 78, 帖数: 233</span><br/>
                    期待瘦得快吗?那就不要熬夜!<br/>
                    2011-8-18 17:07
                  </p>
                </dd>
              </dl>
            </li>
            <li>
              <dl>
                <dt><a href="active_sub.html"><img src="images/pic/active/icon_4.png" alt=""></a></dt>
                <dd>
                  <a href="active_sub.html">体验试用</a>
                  <p>
                    <span class="green">主题: 78, 帖数: 233</span><br/>
                    哈哈，美女哦 ...<br/>
                    2013-8-8 15:04
                  </p>
                </dd>
              </dl>
            </li>
            <li>
              <dl>
                <dt><a href="active_sub.html"><img src="images/pic/active/icon_5.png" alt=""></a></dt>
                <dd>
                  <a href="active_sub.html">悠粉晒图</a>
                  <p>
                    <span class="green">主题: 78, 帖数: 233</span><br/>
                    新品发布会 <br/>
                    2014-10-61 13:24
                  </p>
                </dd>
              </dl>
            </li>
            <li>
              <dl>
                <dt><a href="active_sub.html"><img src="images/pic/active/icon_6.png" alt=""></a></dt>
                <dd>
                  <a href="active_sub.html">积分兑换</a>
                  <p>
                    <span class="green">主题: 78, 帖数: 233</span><br/>
                    蜜粉们的福地到来啦！ <br/>
                    2013-8-8 15:04
                  </p>
                </dd>
              </dl>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div><!--#main-->
  <div id="footer">
    <div class="f_box">
      <div class="f_logo">
        <a href="http://www.eophy.com/"><img src="images/base/code_1.png" alt="Code-1" /></a>
      </div>
      <div class="f_logo">
        <a href="javascript:;"><img src="images/base/code_2.png" alt="Code-weixin" /></a>
      </div>
      <div class="allright"><img src="images/base/footer-bottom.png" alt="Footer-1" /></div>
      <div class="f_menu">
        <ul>
          <li><a href="contact.html">联系我们</a></li>
          <li><a href="legal.html">法律声明</a></li>
          <li class="last"><a href="http://www.miit.gov.cn/" target="_blank" >京ICP备1204600号 </a> &copy Eophy. 保留所有权利.</li>
        </ul>
      </div>
      <div class="allright_2"><img src="images/base/footer-logo.png" alt="Footer-2" /></div>
    </div>
  </div>
</div>
<!-- 登陆提示框 -->
<div id="prompt" class="prompt loginWin" style="width:300px;">
  <div id="outterBox">
    <div id="step1">
      <div class="title">登陆<a class="btn_close right" href="javascript:;">X</a></div>
      <table width="85%" cellspacing="0" cellpadding="0" border="0" align="center">
      <tbody>
        <tr><td>
          <input type="text" class="text_user" value="请输入用户名/邮箱" onfocus="if(value=='请输入用户名/邮箱') {value=''}" onblur="if (value=='') {value='请输入用户名/邮箱'}" maxlength="32">    
        </td></tr>
        <tr><td>
        <input type="text" class="text_pwd" value="请输入密码" onfocus="if(value=='请输入密码') {value=''}" onblur="if (value=='') {value='请输入密码'}" maxlength="32">  
        </td></tr>
        <tr><td>
          <div align="left">
          <label><input type="checkbox" checked>记住用户名</label>
          <a href="javascript:;" class="right forgot_pwd">忘记密码？</a>
          </div>
        </td></tr>
        <tr align="left"><td><input class="btn_Login" type="button" value="立即登陆"></td></tr>
      </tbody>
      </table>
    </div>
    <div id="step2" style="display:none;">
      <div class="title">找回密码<a class="btn_close right" href="javascript:;">X</a></div>
      <table width="85%" cellspacing="0" cellpadding="0" border="0" align="center">
      <tbody>
        <tr><td>
          Email : <input type="text" class="email" value="请输入注册邮箱" onfocus="if(value=='请输入注册邮箱') {value=''}" onblur="if (value=='') {value='请输入注册邮箱'}" maxlength="32">    
        </td></tr>
        <tr><td>
        验证码: <input type="text" class="yzm" maxlength="32">
        <div class="rzma"><img src="images/base/code_yzm.jpg" alt="验证码"></div>
        </td></tr>
        <tr><td>
          <div align="left"><label>填写您的注册邮箱，并查收密码重置邮件。请妥善保管好您的账号，以免被盗！</label></div>
        </td></tr>
        <tr align="right"><td><input id="reset_pwd" class="btn_Login" type="button" value="下一步"></td></tr>
      </tbody>
      </table>
    </div>
    <div id="step3" style="display:none;">
      <div class="title">修改密码<a class="btn_close right" href="javascript:;">X</a></div>
      <table width="85%" cellspacing="0" cellpadding="0" border="0" align="center">
      <tbody>
        <tr><td>
          <label class="left">Email: </label><div class="pwd"> test_user@163.com </div>
        </td></tr>
        <tr><td>
        <label class="left">输入新密码: </label><input type="text" class="pwd" maxlength="32"> 
        </td></tr>
        <tr><td>
        <label class="left">再次输入新密码: </label><input type="text" class="pwd" maxlength="32"> 
        </td></tr>
        <tr><td>
          <div align="left"><label>欢迎回来，请输入重新设置密码！</label></div>
        </td></tr>
        <tr align="right"><td><input class="btn_Login" type="button" value="确定"></td></tr>
      </tbody>
      </table>
    </div>
  </div>
</div>
</body>
</html>
