<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<title>营养咨询 - eophy</title>
<meta name="keywords" content="悠菲中国, eophy" />
<meta name="description" content="悠菲中国, 品味最纯生活" />
<link type="image/png" rel="icon" href="favicon.png" />
<link rel="stylesheet" type="text/css" href="css/common.css" />
<link rel="stylesheet" type="text/css" href="css/layout.css" />
<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="js/PIE_IE678.js"></script>
<![endif]-->
<script type="text/javascript" src="js/private.js"></script>
</head>
<body>
<div id="container">
  <div id="header">
    <div class="h_box">
      <div class="logo"><a href="index.html"><img src="images/logo.png" alt="" /></a></div>
      <div class="menu">
        <ul>
          <li><a href="index.html">首页</a></li>
          <li><a href="about_us.html">关于我们</a>
            <div class="submenu">
              <ul>
                  <li class="title"><a href="about_us.html">公司介绍</a></li>
                  <li class="title"><a href="about_us_2.html">品牌介绍</a></li>
                  <li class="title"><a href="about_us_3.html">品牌VIDEO</a></li>                  
              </ul>
            </div>
          </li>
          <li><a href="products.html">产品中心</a></li>
          <li><a href="news.html">新闻媒体</a></li>
          <li><a href="active.html">品牌活动</a></li>
          <li><a href="faq.html" class="active">营养咨询</a></li>
          <li><a href="sale.html">售卖专柜</a></li>
          <li><a href="shop.html">网络商城</a></li>
        </ul>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <!--#header-->
  <div id="main">
  <div class="homebk"><img src="images/pic/faq.jpg" alt="Background" /></div>
  <div class="mainbox2">
    <div class="homelist">
      <div class="box faq">
        <div class="left">
          <div class="cont">
            <div class="title">已解决的问题<a id="win_show" class="tiwen" href="javascript:;">立即提问</a></div>
            <div class="content">
              <ul>
                <li>
                  <div class="question">今年很流行红色的唇妆，但是怎么画才不显得老气呢?</div>
                  <div class="answer">质地以雾面为首选 中央向两边晕染,太油亮、过於强调唇形是NG。涂上雾面的红色唇膏后，由中央向两边晕染，用棉花棒稍微擦拭唇周，模糊唇线。</div>
                </li>
                <li>
                  <div class="question">大脸很烦恼，怎么化妆才显得脸小一点呢?</div>
                  <div class="answer">要脸部週围使用比平常用的粉底深一号的粉底上妆，就能营造自然的阴影。　打造古铜美肌，底妆的立体感尤为重要。修容粉是打造小V脸不可缺少的单品。</div>
                </li>
                <li>
                  <div class="question">如何才能拥有想VIVI的混血儿般立体的五官?</div>
                  <div class="answer">眉毛下方打亮眉头刷上阴影,打亮在骨头部位,从眉头开始画到鼻子侧面，涂的时候不要太重手，一点点修容粉就可以。</div>
                </li>
                <li>
                  <div class="question">虽然是双眼皮，但是常常看起来没精神，眼妆怎么化才自然又有神呢?</div>
                  <div class="answer">光泽眼影+眼线,先用珠光眼影打底.用眼影笔沾取少量咖啡色系眼影，画在眼睛张开时的双眼皮摺上。眼尾画较浓，强调细细的线条感。</div>
                </li>
                <li>
                  <div class="question">如何打造好气色底妆?</div>
                  <div class="answer">善用妆前乳，并搭配遮瑕膏，做好修饰功夫。Step1：依肤色需求挑选类型。紫色可明亮、粉红色增添红润，一定要选对适合自己的，不然会把
肤色弄脏喔。</div>
                </li>
                <li>
                  <div class="question">虽然是双眼皮，但是常常看起来没精神，眼妆怎么化才自然又有神呢?</div>
                  <div class="answer">光泽眼影+眼线,先用珠光眼影打底.用眼影笔沾取少量咖啡色系眼影，画在眼睛张开时的双眼皮摺上。眼尾画较浓，强调细细的线条感。</div>
                </li>
              </ul>
              <div class="pages">
                <ul>
                  <li><a href="javascript:;"> &lt; </a></li>
                  <li class="active"><a href="#"> 1 </a></li>
                  <li><a href="#"> 2 </a></li>
                  <li><a href="#"> 3 </a></li>
                  <li><a href="#"> 4 </a></li>
                  <li><a href="#"> ... </a></li>
                  <li><a href="#"> 6 </a></li>
                  <li><a href="javascript:;"> &gt; </a></li>
                  <li><a href="javascript:;"> 下一页 </a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="right">
          <div class="top">
            <div class="title p10">问题分类</div>
            <ul>
              <li><a href="#">产品咨询 &nbsp; 共4条</a></li>
              <li><a href="#">美容健康咨询 &nbsp; 共7条</a></li>
              <li><a href="#">美容健康养生小贴士 &nbsp; 共5条</a></li>
            </ul>
          </div>
          <div class="bottom">
            <div class="title">待解决问题</div>
            <ul id="win_show2">
              <li><a href="javascript:;">用腮红修容 教你不同脸型的腮红打造</a></li>
              <li><a href="javascript:;">化出新鲜感时髦美人颜 化妆技巧...</a></li>
              <li><a href="javascript:;">你不知道的卸妆油真相 7大谜团马上...</a></li>
              <li><a href="javascript:;">让底妆更服帖 新手冬季粉底液的用法...</a></li>
              <li><a href="javascript:;">T台新玩法之云朵妆 红粉菲菲惹人爱...</a></li>
              <li><a href="javascript:;">你不知道的卸妆油真相 7大谜团马上...</a></li>
              <li><a href="javascript:;">用腮红修容 教你不同脸型的腮红打造</a></li>
            </ul>
            <div class="pages2"><a href="faq2.html">更多</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--#main-->
  <div id="footer">
    <div class="f_box">
      <div class="f_logo">
        <a href="http://www.eophy.com/"><img src="images/base/code_1.png" alt="Code-1" /></a>
      </div>
      <div class="f_logo">
        <a href="javascript:;"><img src="images/base/code_2.png" alt="Code-weixin" /></a>
      </div>
      <div class="allright"><img src="images/base/footer-bottom.png" alt="Footer-1" /></div>
      <div class="f_menu">
        <ul>
          <li><a href="contact.html">联系我们</a></li>
          <li><a href="legal.html">法律声明</a></li>
          <li class="last"><a href="http://www.miit.gov.cn/" target="_blank" >京ICP备1204600号 </a> &copy Eophy. 保留所有权利.</li>
        </ul>
      </div>
      <div class="allright_2"><img src="images/base/footer-logo.png" alt="Footer-2" /></div>
    </div>
  </div>
  </div>
</div>
<!-- 待解决的问题提示框 -->
<div id="prompt2" class="prompt" style="width:350px;height:180px;">
  <div class="title">待解决的问题<a class="btn_close right" href="javascript:;">X</a></div>
  <table width="85%" cellspacing="0" cellpadding="0" border="0" align="center">
  <tbody>
    <tr><td style="padding-top:50px;">请稍等，营养师会尽快回复您的问题！</td></tr>
  </tbody>
  </table>
</div>
<!-- 我要提问提示框 -->
<div id="prompt" class="prompt">
  <div class="title">我要提问<a class="btn_close right" href="javascript:;">X</a></div>
  <table width="85%" cellspacing="0" cellpadding="0" border="0" align="center">
  <tbody>
    <tr>
    <td style="float:left;">提问标题：</td>
    <td>
      <select>
        <option value="1">会员专区</option>
        <option value="2">体验试用</option>
        <option value="3">悠粉晒图</option>
      </select>
      <input type="text" class="text" maxlength="32" style="width:260px;float:right;">
    </td>
    </tr>
    <tr>
    <td rowspan="3" colspan="1" style="vertical-align: top;">提问内容：</td>
    </tr>
    <tr>
    <td colspan="2"><textarea style="width:98%;" rows="5" name="textarea" id="textarea"></textarea></td>
    </tr>
    <tr><td><input type="button" value="提交问题"></td></tr>
  </tbody>
  </table>
</div>
</body>
</html>
