<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<title>eophy - 品味最纯生活</title>
<meta name="keywords" content="悠菲中国, eophy" />
<meta name="description" content="悠菲中国, 品味最纯生活" />
<link type="image/png" rel="icon" href="favicon.png" />
<link rel="stylesheet" type="text/css" href="css/common.css" />
<link rel="stylesheet" type="text/css" href="css/layout.css" />
<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="js/PIE_IE678.js"></script>
<![endif]-->
<script type="text/javascript" src="js/private.js"></script>
<script type="text/javascript" src="js/jquery.imgpreload.min.js"></script>
<script type="text/javascript" src="js/slides.js" ></script>
<script type="text/javascript">
$(function(){
  $('#slides').slides({
    display_num: 5, 
    move: 1,
    click_move: 5,
    auto: true,
    auto_interval: 4000,
    controls: false,
    margin: 10,
    auto_hover: true,
    controls: true
  });
});
</script>
</head>
<body>
<div id="container">
  <div class="headerTop">
    <div class="boxTop">
      <div class="userTop"><span>test_user</span> <a href="#"> 退出</a></div>
    </div>
  </div>
  <div id="header">
    <div class="h_box">
      <div class="logo"><a href="index.html"><img src="images/logo.png" alt="" /></a></div>
      <div class="menu">
        <ul>
          <li><a href="index.html" class="active">首页</a></li>
          <li><a href="about_us.html">关于我们</a>
            <div class="submenu">
              <ul>
                  <li class="title"><a href="about_us.html">公司介绍</a></li>
                  <li class="title"><a href="about_us_2.html">品牌介绍</a></li>
                  <li class="title"><a href="about_us_3.html">品牌VIDEO</a></li>                  
              </ul>
            </div>
          </li>
          <li><a href="products.html">产品中心</a></li>
          <li><a href="news.html">新闻媒体</a></li>
          <li><a href="active.html">品牌活动</a></li>
          <li><a href="faq.html">营养咨询</a></li>
          <li><a href="sale.html">售卖专柜</a></li>
          <li><a href="shop.html">网络商城</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!--#header-->
  <div id="main">
    <div class="homebk"><img src="images/pic/home.jpg" alt="Background" /></div>
    <div class="home_lt">
      <!--
      <a href=""><img src="images/pic/home_lt_1.png" alt="News" /></a>
      -->
      <a class="rotate" href="">法国原装原瓶进口</a>
    </div>
    <div class="clear"></div>
    <div class="mainbox">
      <div class="home_container"><!--homelist-->
        <div class="homebanner" id="homebanner">
          <div class="slides_container">
            <ul id="slides">
              <li>
                <a href="javascript:;">
                  <img src="images/pic/product/index/1.png" alt="No pic"
                  onMouseOver="this.src='images/pic/product/index/1-hover.png'"
                  onMouseOut="this.src='images/pic/product/index/1.png'" />
                  <img class="no-show" src="images/pic/product/index/1-hover.png" alt="No pic" />
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <img src="images/pic/product/index/2.png" alt="No pic"
                  onMouseOver="this.src='images/pic/product/index/2-hover.png'"
                  onMouseOut="this.src='images/pic/product/index/2.png'" />
                  <img class="no-show" src="images/pic/product/index/2-hover.png" alt="No pic" />
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <img src="images/pic/product/index/3.png" alt="No pic"
                  onMouseOver="this.src='images/pic/product/index/3-hover.png'"
                  onMouseOut="this.src='images/pic/product/index/3.png'" />
                  <img class="no-show" src="images/pic/product/index/3-hover.png" alt="No pic" />
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <img src="images/pic/product/index/4.png" alt="No pic"
                  onMouseOver="this.src='images/pic/product/index/4-hover.png'"
                  onMouseOut="this.src='images/pic/product/index/4.png'" />
                  <img class="no-show" src="images/pic/product/index/4-hover.png" alt="No pic" />
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <img src="images/pic/product/index/5.png" alt="No pic"
                  onMouseOver="this.src='images/pic/product/index/5-hover.png'"
                  onMouseOut="this.src='images/pic/product/index/5.png'" />
                  <img class="no-show" src="images/pic/product/index/5-hover.png" alt="No pic" />
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <img src="images/pic/product/index/6.png" alt="No pic"
                  onMouseOver="this.src='images/pic/product/index/6-hover.png'"
                  onMouseOut="this.src='images/pic/product/index/6.png'" />
                  <img class="no-show" src="images/pic/product/index/6-hover.png" alt="No pic" />
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <img src="images/pic/product/index/7.png" alt="No pic"
                  onMouseOver="this.src='images/pic/product/index/7-hover.png'"
                  onMouseOut="this.src='images/pic/product/index/7.png'" />
                  <img class="no-show" src="images/pic/product/index/7-hover.png" alt="No pic" />
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <img src="images/pic/product/index/8.png" alt="No pic"
                  onMouseOver="this.src='images/pic/product/index/8-hover.png'"
                  onMouseOut="this.src='images/pic/product/index/8.png'" />
                  <img class="no-show" src="images/pic/product/index/8-hover.png" alt="No pic" />
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div><!--#main-->
  </div>
  <div id="footer">
    <div class="f_box">
      <div class="f_logo">
        <a href="http://www.eophy.com/"><img src="images/base/code_1.png" alt="Code-1" /></a>
      </div>
      <div class="f_logo">
        <a href="javascript:;"><img src="images/base/code_2.png" alt="Code-weixin" /></a>
      </div>
      <div class="allright"><img src="images/base/footer-bottom.png" alt="Footer-1" /></div>
      <div class="f_menu">
        <ul>
          <li><a href="contact.html">联系我们</a></li>
          <li><a href="legal.html">法律声明</a></li>
          <li class="last"><a href="http://www.miit.gov.cn/" target="_blank" >京ICP备1204600号 </a> &copy Eophy. 保留所有权利.</li>
        </ul>
      </div>
      <div class="allright_2"><img src="images/base/footer-logo.png" alt="Footer-2" /></div>
    </div>
  </div>
</div>
</body>
</html>
