<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<title tpldata="pagetitle::updatevalue::">新闻媒体 - eophy</title>
<meta name="keywords" content="悠菲中国, eophy" tpldata="keywords::updateattribute::content::"/>
<meta name="description" content="悠菲中国, 品味最纯生活" />
<link type="image/png" rel="icon" href="favicon.png" />
<link rel="stylesheet" type="text/css" href="css/common.css" />
<link rel="stylesheet" type="text/css" href="css/layout.css" />
<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="js/PIE_IE678.js"></script>
<![endif]-->
<script type="text/javascript" src="js/private.js"></script>
</head>
<body>
<div id="container">
  <div id="header">
    <div class="h_box">
      <div class="logo"><a href="index.html"><img src="images/logo.png" alt="" /></a></div>
      <div class="menu">
        <ul>
          <li><a href="index.html">首页</a></li>
          <li><a href="about_us.html">关于我们</a>
            <div class="submenu">
              <ul>
                  <li class="title"><a href="about_us.html">公司介绍</a></li>
                  <li class="title"><a href="about_us_2.html">品牌介绍</a></li>
                  <li class="title"><a href="about_us_3.html">品牌VIDEO</a></li>                  
              </ul>
            </div>
          </li>
          <li><a href="products.html">产品中心</a></li>
          <li><a href="news.html" class="active">新闻媒体</a></li>
          <li><a href="active.html">品牌活动</a></li>
          <li><a href="faq.html">营养咨询</a></li>
          <li><a href="sale.html">售卖专柜</a></li>
          <li><a href="shop.html">网络商城</a></li>
        </ul>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <!--#header-->
  <div id="main">
  <div class="homebk"><img src="images/pic/news.jpg" alt="Background" /></div>
  <div class="mainbox2">
    <div class="homelist">
      <div class="box">
        <div class="news">
          <div class="title">最新新闻</div>
          <div class="content">
            <ul class="cont" tpldata="newslist::repeat::">
              <li><a class="btn_show" href="{href}">&gt; {title}
					<a name="atag" tpldata="atag::updatevalue">Atag</a>
			  </a></li>
              <!--
			  <li><a class="btn_show" href="#1">&gt; 更高生物利用度（更好更快被吸收）、高活性成分、不刺激肠胃。</a></li>
				-->
			</ul>
          </div>
          <div class="pages">
            <ul>
              <li><a href="javascript:;"> &lt; </a></li>
              <li class="active"><a href="#"> 1 </a></li>
              <li><a href="#"> 2 </a></li>
              <li><a href="#"> 3 </a></li>
              <li><a href="#"> 4 </a></li>
              <li><a href="#"> ... </a></li>
              <li><a href="#"> 6 </a></li>
              <li><a href="javascript:;"> &gt; </a></li>
              <li><a href="javascript:;" tpldata="newslist_nextpage::updateattribute::href"> 下一页 </a></li>
            </ul>
          </div>
        </div>
        <div class="news_cnt" style="display:none;" tpldata="newscontentlist::repeat::"> <!-- tpldata="newscontentlist::updatevalue::type=list::format=firstchild" -->
          <div id="promptBox">
            <a href="javascript:;" class="btn_close">X</a>
            <div class="title">{title}</div>
            <div class="content">
            {content}
			</div>
            <div class="pages">
              <ul>
                <li><a href="javascript:;"> &lt; </a></li>
                <li class="active"><a href="#"> 1 </a></li>
                <li><a href="#"> 2 </a></li>
                <li><a href="javascript:;"> &gt; </a></li>
                <li><a href="javascript:;"> 下一页 </a></li>
              </ul>
            </div>
          </div>
          <div id="promptBox">
            <a href="javascript:;" class="btn_close">X</a>
            <div class="title">虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂#2</div>
            <div class="content">
              <p>
BoP S.L. 联合巴塞罗那大学健康医学实验室共同研发近百种天然健康营养品，我 们的研发人员有着二十多年营养与药剂开发经验，产品品牌在欧洲拥有极高的知 名度和美誉度。为了满足消费者“选择最佳天然营养品的健康需求”。</p>
<p>
凭借其复方、液态、高效属性呈现出一种到目前为止远远超出市场的全新产品 概念。 旨在让中国的消费者体验品味一种全新自我滋养生活方式，从而实 现持续的、平衡的、整体健康的生活哲学。
BoP S.L. 联合巴塞罗那大学健康医学实验室共同研发近百种天然健康营养品，我 们的研发人员有着二十多年营养与药剂开发经验，产品品牌在欧洲拥有极高的知 名度和美誉度。为了满足消费者“选择最佳天然营养品的健康需求”。</p>
<p>
凭借其复方、液态、高效属性呈现出一种到目前为止远远超出市场的全新产品 概念。 旨在让中国的消费者体验品味一种全新自我滋养生活方式，从而实 现持续的、平衡的、整体健康的生活哲学。</p>
<p>
BoP S.L. 联合巴塞罗那大学健康医学实验室共同研发近百种天然健康营养品，我 们的研发人员有着二十多年营养与药剂开发经验，产品品牌在欧洲拥有极高的知 名度和美誉度。为了满足消费者“选择最佳天然营养品的健康需求”。</p>
            </div>
            <div class="pages">
              <ul>
                <li><a href="javascript:;"> &lt; </a></li>
                <li><a href="javascript:;"> &gt; </a></li>
              </ul>
            </div>
          </div>
          <div id="promptBox">
            <a href="javascript:;" class="btn_close">X</a>
            <div class="title">虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂#3</div>
            <div class="content">
              <p>
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
              </p>
            </div>
            <div class="pages">
              <ul>
                <li><a href="javascript:;"> &lt; </a></li>
                <li><a href="javascript:;"> &gt; </a></li>
              </ul>
            </div>
          </div>
          <div id="promptBox">
            <a href="javascript:;" class="btn_close">X</a>
            <div class="title">虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂#4</div>
            <div class="content">
              <p>
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
              </p>
            </div>
            <div class="pages">
              <ul>
                <li><a href="javascript:;"> &lt; </a></li>
                <li><a href="javascript:;"> &gt; </a></li>
              </ul>
            </div>
          </div>
          <div id="promptBox">
            <a href="javascript:;" class="btn_close">X</a>
            <div class="title">虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂#5</div>
            <div class="content">
              <p>
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
              </p>
            </div>
            <div class="pages">
              <ul>
                <li><a href="javascript:;"> &lt; </a></li>
                <li><a href="javascript:;"> &gt; </a></li>
              </ul>
            </div>
          </div>
          <div id="promptBox">
            <a href="javascript:;" class="btn_close">X</a>
            <div class="title">虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂#6</div>
            <div class="content">
              <p>
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
              </p>
            </div>
            <div class="pages">
              <ul>
                <li><a href="javascript:;"> &lt; </a></li>
                <li><a href="javascript:;"> &gt; </a></li>
              </ul>
            </div>
          </div>
          <div id="promptBox">
            <a href="javascript:;" class="btn_close">X</a>
            <div class="title">虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂#7</div>
            <div class="content">
              <p>
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
              </p>
            </div>
            <div class="pages">
              <ul>
                <li><a href="javascript:;"> &lt; </a></li>
                <li><a href="javascript:;"> &gt; </a></li>
              </ul>
            </div>
          </div>
          <div id="promptBox">
            <a href="javascript:;" class="btn_close">X</a>
            <div class="title">虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂#8</div>
            <div class="content">
              <p>
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
              </p>
            </div>
            <div class="pages">
              <ul>
                <li><a href="javascript:;"> &lt; </a></li>
                <li><a href="javascript:;"> &gt; </a></li>
              </ul>
            </div>
          </div>
          <div id="promptBox">
            <a href="javascript:;" class="btn_close">X</a>
            <div class="title">虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂#9</div>
            <div class="content">
              <p>
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂9
              </p>
            </div>
            <div class="pages">
              <ul>
                <li><a href="javascript:;"> &lt; </a></li>
                <li><a href="javascript:;"> &gt; </a></li>
              </ul>
            </div>
          </div>
          <div id="promptBox">
            <a href="javascript:;" class="btn_close">X</a>
            <div class="title">虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂#10</div>
            <div class="content">
              <p>
                虾青素是目前为止最具创新10
              </p>
            </div>
            <div class="pages">
              <ul>
                <li><a href="javascript:;"> &lt; </a></li>
                <li><a href="javascript:;"> &gt; </a></li>
              </ul>
            </div>
          </div>
          <div id="promptBox">
            <a href="javascript:;" class="btn_close">X</a>
            <div class="title">虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂#11</div>
            <div class="content">
              <p>
BoP S.L. 联合巴塞罗那大学健康医学实验室共同研发近百种天然健康营养品，我 们的研发人员有着二十多年营养与药剂开发经验，产品品牌在欧洲拥有极高的知 名度和美誉度。为了满足消费者“选择最佳天然营养品的健康需求”。</p>
<p>
凭借其复方、液态、高效属性呈现出一种到目前为止远远超出市场的全新产品 概念。 旨在让中国的消费者体验品味一种全新自我滋养生活方式，从而实 现持续的、平衡的、整体健康的生活哲学。
BoP S.L. 联合巴塞罗那大学健康医学实验室共同研发近百种天然健康营养品，我 们的研发人员有着二十多年营养与药剂开发经验，产品品牌在欧洲拥有极高的知 名度和美誉度。为了满足消费者“选择最佳天然营养品的健康需求”。</p>
<p>
凭借其复方、液态、高效属性呈现出一种到目前为止远远超出市场的全新产品 概念。 旨在让中国的消费者体验品味一种全新自我滋养生活方式，从而实 现持续的、平衡的、整体健康的生活哲学。</p>
<p>
BoP S.L. 联合巴塞罗那大学健康医学实验室共同研发近百种天然健康营养品，我 们的研发人员有着二十多年营养与药剂开发经验，产品品牌在欧洲拥有极高的知 名度和美誉度。为了满足消费者“选择最佳天然营养品的健康需求”。</p>
            </div>
            <div class="pages">
              <ul>
                <li><a href="javascript:;"> &lt; </a></li>
                <li><a href="javascript:;"> &gt; </a></li>
              </ul>
            </div>
          </div>
          <div id="promptBox">
            <a href="javascript:;" class="btn_close">X</a>
            <div class="title">虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂#12</div>
            <div class="content">
              <p>
BoP S.L. 联合巴塞罗那大学健康医学实验室共同研发近百种天然健康营养品，我 们的研发人员有着二十多年营养与药剂开发经验，产品品牌在欧洲拥有极高的知 名度和美誉度。为了满足消费者“选择最佳天然营养品的健康需求”。</p>
<p>
凭借其复方、液态、高效属性呈现出一种到目前为止远远超出市场的全新产品 概念。 旨在让中国的消费者体验品味一种全新自我滋养生活方式，从而实 现持续的、平衡的、整体健康的生活哲学。
BoP S.L. 联合巴塞罗那大学健康医学实验室共同研发近百种天然健康营养品，我 们的研发人员有着二十多年营养与药剂开发经验，产品品牌在欧洲拥有极高的知 名度和美誉度。为了满足消费者“选择最佳天然营养品的健康需求”。</p>
<p>
凭借其复方、液态、高效属性呈现出一种到目前为止远远超出市场的全新产品 概念。 旨在让中国的消费者体验品味一种全新自我滋养生活方式，从而实 现持续的、平衡的、整体健康的生活哲学。</p>
<p>
BoP S.L. 联合巴塞罗那大学健康医学实验室共同研发近百种天然健康营养品，我 们的研发人员有着二十多年营养与药剂开发经验，产品品牌在欧洲拥有极高的知 名度和美誉度。为了满足消费者“选择最佳天然营养品的健康需求”。</p>
            </div>
            <div class="pages">
              <ul>
                <li><a href="javascript:;"> &lt; </a></li>
                <li><a href="javascript:;"> &gt; </a></li>
              </ul>
            </div>
          </div>
        </div>
		<div class="news_cnt" style="display:block" tpldata="newslist2::repeat::">
			<ul>
				<li><a href="{href}">{title}</a></li>
			</ul>
		</div>
		<p>
			<br/><br/>
		</p>
		<div class="news_cnt" tpldata="user.feedback::switch::">
			<div>Choice one{iname}</div>
			<div tpldata="user.iname::updatevalue::">Choice two{user.iname}</div>
			<div>
				Choice three{iname}
			</div>
		</div>
	  </div>
    </div>
    <div class="clear"></div>
  </div>
  <!--#main-->
  <div id="footer">
    <div class="f_box">
      <div class="f_logo">
        <a href="http://www.eophy.com/"><img src="images/base/code_1.png" alt="Code-1" /></a>
      </div>
      <div class="f_logo">
        <a href="javascript:;"><img src="images/base/code_2.png" alt="Code-weixin" /></a>
      </div>
      <div class="allright"><img src="images/base/footer-bottom.png" alt="Footer-1" /></div>
      <div class="f_menu">
        <ul>
          <li><a href="contact.html">联系我们</a></li>
          <li><a href="legal.html">法律声明</a></li>
          <li class="last"><a href="http://www.miit.gov.cn/" target="_blank" >京ICP备1204600号 </a> &copy; <span tpldata="copyright_year::updatevalue::">2015</span> Eophy. 保留所有权利.</li>
        </ul>
      </div>
      <div class="allright_2"><img src="images/base/footer-logo.png" alt="Footer-2" /></div>
    </div>
  </div>
</div>
</body>
<script type="text/javascript">
//- GWA2JSTPL

(function(){ //- anonymous func bgn

//- server response in json
var tplData = {
	'pagetitle': '-吉娃, GWA2 JTMPL-'+(new Date()),
	'newslist': {
		0: {'title':'虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂', 'href':'#11'},
		1: {'title':'所有产品都含有天然雨生红球藻（富含天然虾青素）', 'href':'#10'},
		2: {'title':'更高生物利用度（更好更快被吸收）、高活性成分、不刺激肠胃', 'href':'#9'},
		3: {'title':'真是极好的西红柿产品', 'href':'#8'}
	},
	'copyright_year': 2017,
	'keywords': 'Wadelau, GWA2, gwa2',
	'newslist_nextpage': 'https://ufqi.com/#newlist_nextpage_value'+(new Date()),
	'newscontentlist':{
		0:{'title':'虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂1', 'content':'111BoP S.L. 联合巴塞罗那大学健康医学实验室共同研发近百种天然健康营养品，我 们的研发人员有着二十多年营养与药剂开发经验，产品品牌在欧洲拥有极高的知 名度和美誉度。为了满足消费者“选择最佳天然营养品的健康需求”', 'pages':3},
		1:{'title':'虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂2', 'content':'222BoP S.L. 联合巴塞罗那大学健康医学实验室共同研发近百种天然健康营养品，我 们的研发人员有着二十多年营养与药剂开发经验，产品品牌在欧洲拥有极高的知 名度和美誉度。为了满足消费者“选择最佳天然营养品的健康需求”', 'pages':3},
		2:{'title':'虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂3', 'content':'333BoP S.L. 联合巴塞罗那大学健康医学实验室共同研发近百种天然健康营养品，我 们的研发人员有着二十多年营养与药剂开发经验，产品品牌在欧洲拥有极高的知 名度和美誉度。为了满足消费者“选择最佳天然营养品的健康需求”', 'pages':2}
	},
	'user': {
		'feedback': 1,
		'iname': {'surname':'Wadelau', 'familyname':'Lau'},
		'age': '33'
	},
	'atag': 'Xenxin\'s Tag',
	'':''
};

var renderElement = function(i, elem, val){
	
	var tcfg = elem.attr('tpldata').split('::'); 
	//- tpldata::act::target::extra
	/*  e.g., 
	 * <title tpldata="pagetitle::updatevalue::">...
	 * <meta name="keywords" ... tpldata="keywords::updateattribute::content::"/>
	 * <ul class="cont" tpldata="newslist::repeat::">
	 * <a href="javascript:;" tpldata="newslist_nextpage::updateattribute::href">...
	 */
	var id = tcfg[0]; id = id==null ? '' : id;
	var act = tcfg[1];  act = act==null ? '' : act;
	var target = tcfg[2]; target = target==null ? '' : target;
	var extra = tcfg[3]; extra = extra==null ? '' : extra;
	console.log("\nrenderElement\n---- ----- ----\ni:["+i+"] idval:"+elem.attr('tpldata')+' tcfg-id:['
		+id+'] tdata:['+tplData[id]+'] nodeName:['+val.nodeName+']'); //- val:["+val.innerText+"] 
	
	if(id.indexOf('.') > -1){
		console.log('\tid:['+id+'] contains dots.');
		var idArr = id.split('.');
		if(idArr.length == 2){
			tplData[id] = tplData[idArr[0]][idArr[1]];
			console.log('\tid:['+id+'] contains dots. got id:['+id+'] value:['+tplData[id]+']');
		}
		else if(idArr.length == 3){
			tplData[id] = tplData[idArr[0]][idArr[1]][idArr[2]];
			console.log('\tid:['+id+'] contains dots. got id:['+id+'] value:['+tplData[id]+']');
		}
		else if(idArr.length == 4){
			tplData[id] = tplData[idArr[0]][idArr[1]][idArr[2]][idArr[3]];
			console.log('\tid:['+id+'] contains dots. got id:['+id+'] value:['+tplData[id]+']');
		}
		else{
			console.log("\ti:["+i+"] idval:"+elem.attr('tpldata')+' tcfg-id:['+id+'] not supported.');
		}
	}
	
	if(act == 'updateattribute'){
		elem.attr(target, tplData[id]);

	}
	else if(act == 'updatevalue'){
		var oldCont = elem.html(); var newCont = '';
		var regE = new RegExp(/\{([a-zA-Z0-9_\.]+)\}/gm);
		var mArr = regE.exec(oldCont);
		if(mArr == null){
			newCont = tplData[id];
		}
		else{
			newCont = oldCont;
			while(mArr != null){
				$.each(mArr, function(mi, valmi){
					console.log('\t\tmArr-'+mi+':['+mArr[mi]+']');
				});
				newCont = newCont.replace(mArr[0], tplData[mArr[1]]);
				mArr = regE.exec(newCont);
			}
		}
		elem.html(newCont);
		//-specific
		if(true && elem.nodeName == 'TITLE'){
			document.title = tplData[id];
		}	
	}
	else if(act == 'repeat'){ //- loop
		console.log('\tid:['+id+'] target:['+target+'] extra:['+extra+'] val:['
			+JSON.stringify(elem)+'] isempty:['+$.isEmptyObject(tplData[id])+']');
		var newCont = '';
		if($.isEmptyObject(tplData[id])){
			newCont = 'No More Data.';
		}
		else{		
			//- get example row
			var cStr = elem.html(); // elem.html(); 
			var regE = new RegExp(/\{([a-zA-Z0-9_\.]+)\}/gm);					
			//console.log('cstr:['+cStr+'] obj:['+JSON.stringify(val)+']');
			//- iterate rows
			$.each(tplData[id], function(rowi, rowv){
				var nStr = cStr;
				var mArr = regE.exec(cStr);
				while(mArr != null){
					$.each(mArr, function(mi, valmi){
						 //console.log('\t\tmArr-'+mi+':['+mArr[mi]+']');
						 nStr = nStr.replace(mArr[0], rowv[mArr[1]]);
					});
					mArr = regE.exec(cStr);
				}
				newCont += nStr + '\n';
			});				
			//console.log('id:['+id+'] newCont:['+newCont+']');
	
		}
		//- replace 
		elem.html(newCont);
		
	}
	else if(act == 'switch'){ //- switch and if control
		//- @todo
		//- {0: intOption, 1:{options}}
		console.log('\tid:['+id+'] target:['+target+'] extra:['+extra+'] val:['
			+JSON.stringify(elem)+'] tpldata['+tplData[id]+']');
		
		var newCont = '';
		if(typeof tplData[id] == 'undefined'){
			newCont = 'No More Data.';
		}
		else{
			//- get options
			$.each(elem.children(), function(ei, ev){
				console.log('\tei:['+ei+'] ev:['+(ev)+']');
				if($(ev).attr('tpldata')){
					console.log('\tei:['+ei+'] ev:['+(ev)+'] has child tpldata:['
						+$(ev).attr('tpldata')+'].');
					renderElement(i+1, $(ev), ev);
				}
				if(tplData[id] == ei){
					console.log('\tei:['+ei+'] ev:['+JSON.stringify(ev)+'] matched.');
					newCont = ev.innerHTML;
					$.each(ev, function(evk, evv){
						//console.log('\tei:['+ei+'] evk:['+evk+'] evv:['+JSON.stringify(evv)+']');
					});
				}
			});	
		}
		//- replace
		console.log('\tid:['+id+'] target:['+target+'] extra:['+extra+'] tpldata['
			+tplData[id]+'] newCont:['+newCont+']');
		elem.html(newCont);	
	}
	else{
		console.log('\tUnknown tpl act:['+act+'] 1607071959');
	}
	
};

var updtArr = {}; var j=0;
//- update elements by tpldata
$.each($("[tpldata]"), function(i, val){
	
	//console.log($(this));
	
	var dN = $(this).parents().size();
	//console.log('i:['+i+'] dN:['+dN+'] j:['+j+']');
	if(!updtArr[dN]){
		updtArr[dN] = {};
		j = 1;
	}
	else{
		//console.log(updtArr[dN]);
		//console.log(Object.keys(updtArr[dN]).length);
		j = Object.keys(updtArr[dN]).length + 1;
	}
	updtArr[dN][j] = $(this)[0];
	console.log('i:['+i+'] dN:['+dN+'] j:['+j+']');
	//renderElement(i, $(this), val);
	
	$.each(val, function(k, v){
		//console.log("i:["+i+"] k:["+k+"] val:["+v+"]");		
	});

});

console.log(updtArr);


})(); //- anonymous func end

</script>
</html>
