<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<title>网络商城 - eophy</title>
<meta name="keywords" content="悠菲中国, eophy" />
<meta name="description" content="悠菲中国, 品味最纯生活" />
<link type="image/png" rel="icon" href="favicon.png" />
<link rel="stylesheet" type="text/css" href="css/common.css" />
<link rel="stylesheet" type="text/css" href="css/layout.css" />
<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="js/PIE_IE678.js"></script>
<![endif]-->
<script type="text/javascript" src="js/private.js"></script>
</head>
<body>
<div id="container">
  <div id="header">
    <div class="h_box">
      <div class="logo"><a href="index.html"><img src="images/logo.png" alt="" /></a></div>
      <div class="menu">
        <ul>
          <li><a href="index.html">首页</a></li>
          <li><a href="about_us.html">关于我们</a>
            <div class="submenu">
              <ul>
                  <li class="title"><a href="about_us.html">公司介绍</a></li>
                  <li class="title"><a href="about_us_2.html">品牌介绍</a></li>
                  <li class="title"><a href="about_us_3.html">品牌VIDEO</a></li>                  
              </ul>
            </div>
          </li>
          <li><a href="products.html">产品中心</a></li>
          <li><a href="news.html">新闻媒体</a></li>
          <li><a href="active.html">品牌活动</a></li>
          <li><a href="faq.html">营养咨询</a></li>
          <li><a href="sale.html">售卖专柜</a></li>
          <li><a href="shop.html">网络商城</a></li>
        </ul>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <!--#header-->
  <div id="main">
  <div class="mainbox_legel">
      <div class="box">
        <div class="legal">
          <div class="title">eophy会员服务条款</div>
          <div class="cnt">
<p><strong>健诺比亚洲有限公司(以下简称健诺比 )承诺尊重和保护用户的隐私权，我们将尽力保护您在本站点上向我们提供的个人信息。</strong></p>
<br/>
<p><strong>1.关于对您的信息的收集</strong></br>
在健诺比公司网站上，您可以查阅产品或服务、请求帮助、登记索取材料或参加我们的活动。在这些网页上，您需要提供必要和相关的个人信息，以便我们为您提供更好的服务、帮助您解答问题、在您访问后继续跟踪服务等。</p>
<p><br/></p>

<p><strong>2.关于对您的信息的使用</strong><br/>
您提供的信息将受到严格保密，健诺比公司使用您的这些信息只是为了更好地了解您的需要并为您提供更好的服务，与您日后联络等。在某些情况下，我们可能还会用您的信息与您取得联系以进行市场调查或为您提供我们认为您可能感兴趣的产品信息、市场信息等。</p>
<p><br/></p>

<p><strong>3.关于对您的信息的控制</strong><br/>
当您向我们提供个人信息时，健诺比不会把您的个人识别信息出售或出租给他人。一旦健诺比的经销商或服务商获准使用您的个人信息和调查信息，则必须对此类信息严格保密，并且不得将其用于除履行健诺比所授权服务之外的其它任何用途。健诺比公司将不会在未经您事先知晓和许可的情况下，以与上述内容无关的方式随意使用或分享您在线提供给我们的个人识别信息。您的许可总被首先保障，我们决不会与任何不代表健诺比公司、不受我们保密政策约束的第三方分享您的信息。</br>
健诺比公司可能会将在网站上收集到的信息与来自第三方的数据进行整理或合并，并用于向您推广产品或服务。</p>
<p><br/></p>

<p><strong>4.关于您的信息的安全性</strong><br/>
我们计划保护就您个人而言可以识别的上述信息的质量和完整性。我们会认真保护您的资料以防止其丢失、被误用、受到未授权访问或泄漏、被篡改或毁坏。在本公司内，数据存放在有防火墙、密码等控制的服务器中，访问是受到限制的。</p>
<p><br/></p>

<p><strong>5.关于本声明的更改</strong><br/>
本声明的解释权及对本网站使用的解释权归健诺比亚洲有限公司所有。健诺比公司有时会更新本隐私保护声明。更新时，我们还会修改声明底部的”最近更新”的日期。</p>
<p><br/></p>

<p><strong>6. 链接至健诺比公司的第三方网站的信息惯例并不在此隐私声明范围之内，因本声明或使用本网站所发生的争议适用中华人民共和国法律</strong><br/>
访问者在接受本网站服务之前，请务必仔细阅读本条款并同意本声明。访问者访问本网站的行为以及通过各类方式利用本网站的行为，都将被视作是对本声明全部内容的无异议的认可；如有异议，请立即跟本网站协商，并取得本网站的书面同意意见。</p>
<p>　　 第一条</br>
访问者在从事与本网站相关的所有行为（包括但不限于访问浏览、利用、转载、宣传介绍）时，必须以善意且谨慎的态度行事；访问者不得故意或者过失的损害或者弱化本网站的各类合法权利与利益，不得利用本网站以任何方式直接或者间接的从事违反中国法律、国际公约以及社会公德的行为，且访问者应当恪守下述承诺：</p>
<p>
　　 1. 传输和利用信息符合中国法律、国际公约的规定、符合公序良俗；</br>
　　 2. 不将本网站以及与之相关的网络服务用作非法用途以及非正当用途；</br>
　　 3. 不干扰和扰乱本网站以及与之相关的网络服务；</br>
　　 4. 遵守与本网站以及与之相关的网络服务的协议、规定、程序和惯例等。</br>
</p>
<p>　　 第二条 </br>
本网站郑重提醒访问者：请在转载、上载或者下载有关作品时务必尊重该作品的版权、著作权；如果您发现有您未署名的作品，请立即和我们联系，我们会在第一时间加上您的署名或作相关处理。</p>
<p>　　 第三条 </br>
除我们另有明确说明或者中国法律有强制性规定外，本网站用户原创的作品，本网站及作者共同享有版权，其他网站及传统媒体如需使用，须取得本网站的书面授权，未经授权严禁转载或用于其它商业用途。</p>
<p>　　 第四条 本网站内容仅代表作者本人的观点，不代表本网站的观点和看法，与本网站立场无关，相关责任作者自负。</p>
<p>　　 第五条 本网站有权将在本网站内发表的作品用于其他用途，包括网站、电子杂志等，作品有附带版权声明者除外。</p>
<p>　　 第六条 未经常本网站和作者共同同意，其他任何机构不得以任何形式侵犯其作品著作权，包括但不限于：擅自复制、链接、非法使用或转载，或以任何方式建立作品镜像。</p>
<p>　　 第七条 本网站所刊载的各类形式（包括但不仅限于文字、图片、图表）的作品仅供参考使用，并不代表本网站同意其说法或描述，仅为提供更多信息，也不构成任何投资建议。对于访问者根据本网站提供的信息所做出的一切行为，除非另有明确的书面承诺文件，否则本网站不承担任何形式的责任。</p>
<p>　　 第八条 当本网站以链接形式推荐其他网站内容时，本网站并不对这些网站或资源的可用性负责，且不保证从这些网站获取的任何内容、产品、服务或其他材料的真实性、合法性，对于任何因使用或信赖从此类网站或资源上获取的内容、产品、服务或其他材料而造成（或声称造成）的任何直接或间接损失，本网站均不承担任何责任。</p>
<p>　　 第九条 访问者在本网站注册时提供的一些个人资料，本网站除您本人同意及第十条规定外不会将用户的任何资料以任何方式泄露给任何一方。</p>
<p>　　 第十条 当政府部门、司法机关等依照法定程序要求本网站披露个人资料时，本网站将根据执法单位之要求或为公共安全之目的提供个人资料。在此情况下之任何披露，本网站均得免责。</p>
<p>　　 第十一条 由于用户将个人密码告知他人或与他人共享注册账户，由此导致的任何个人资料泄露，本网站不负任何责任。</p>
<p>　　 第十二条 本网站有部分内容来自互联网，如无意中侵犯了哪个媒体 、公司 、企业或个人等的知识产权，请来电或致函告之，本网站将在规定时间内给予删除等相关处理，若有涉及版权费等问题，请及时提供相关证明等材料并与我们联系，通过友好协商公平公正原则处理纠纷。</p>
<p>　　 第十二条 以上声明内容的最终解释权归健诺比亚洲有限公司所有。联系 email: <a href="mailto:info@bopasia.com">info@bopasia.com</a>
</p>
          </div>
        </div>
      </div>
  </div>
  </div><!--#main-->
  <div id="footer">
    <div class="f_box">
      <div class="f_logo">
        <a href="http://www.eophy.com/"><img src="images/base/code_1.png" alt="Code-1" /></a>
      </div>
      <div class="f_logo">
        <a href="javascript:;"><img src="images/base/code_2.png" alt="Code-weixin" /></a>
      </div>
      <div class="allright"><img src="images/base/footer-bottom.png" alt="Footer-1" /></div>
      <div class="f_menu">
        <ul>
          <li><a href="contact.html">联系我们</a></li>
          <li><a href="legal.html">法律声明</a></li>
          <li class="last"><a href="http://www.miit.gov.cn/" target="_blank" >京ICP备1204600号 </a> &copy Eophy. 保留所有权利.</li>
        </ul>
      </div>
      <div class="allright_2"><img src="images/base/footer-logo.png" alt="Footer-2" /></div>
    </div>
  </div>
</div>
</body>
</html>
