<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<title>新闻媒体 - eophy</title>
<meta name="keywords" content="悠菲中国, eophy" />
<meta name="description" content="悠菲中国, 品味最纯生活" />
<link type="image/png" rel="icon" href="favicon.png" />
<link rel="stylesheet" type="text/css" href="css/common.css" />
<link rel="stylesheet" type="text/css" href="css/layout.css" />
<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="js/PIE_IE678.js"></script>
<![endif]-->
<script type="text/javascript" src="js/private.js"></script>
</head>
<body>
<div id="container">
  <div id="header">
    <div class="h_box">
      <div class="logo"><a href="index.html"><img src="images/logo.png" alt="" /></a></div>
      <div class="menu">
        <ul>
          <li><a href="index.html">首页</a></li>
          <li><a href="about_us.html">关于我们</a>
            <div class="submenu">
              <ul>
                  <li class="title"><a href="about_us.html">公司介绍</a></li>
                  <li class="title"><a href="about_us_2.html">品牌介绍</a></li>
                  <li class="title"><a href="about_us_3.html">品牌VIDEO</a></li>                  
              </ul>
            </div>
          </li>
          <li><a href="products.html">产品中心</a></li>
          <li><a href="news.html" class="active">新闻媒体</a></li>
          <li><a href="active.html">品牌活动</a></li>
          <li><a href="faq.html">营养咨询</a></li>
          <li><a href="sale.html">售卖专柜</a></li>
          <li><a href="shop.html">网络商城</a></li>
        </ul>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <!--#header-->
  <div id="main">
  <div class="homebk"><img src="images/pic/news.jpg" alt="Background" /></div>
  <div class="mainbox2">
    <div class="homelist">
      <div class="box">
        <div class="news">
          <div class="title">最新新闻</div>
          <div class="content">
            <ul class="cont">
              <li><a class="btn_show" href="#0">&gt; 我们把营养补充配方制成口服混悬液形式。</a></li>
              <li><a class="btn_show" href="#1">&gt; 更高生物利用度（更好更快被吸收）、高活性成分、不刺激肠胃。</a></li>
              <li><a class="btn_show" href="#2">&gt; 所有产品都含有天然雨生红球藻（富含天然虾青素）。</a></li>
              <li><a class="btn_show" href="#3">&gt; 虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂。</a></li>
              <li><a class="btn_show" href="#4">&gt; 我们把营养补充配方制成口服混悬液形式。</a></li>
              <li><a class="btn_show" href="#5">&gt; 更高生物利用度（更好更快被吸收）、高活性成分、不刺激肠胃。</a></li>
              <li><a class="btn_show" href="#6">&gt; 所有产品都含有天然雨生红球藻（富含天然虾青素）。</a></li>
              <li><a class="btn_show" href="#7">&gt; 虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂。</a></li>
              <li><a class="btn_show" href="#8">&gt; 我们把营养补充配方制成口服混悬液形式。</a></li>
              <li><a class="btn_show" href="#9">&gt; 更高生物利用度（更好更快被吸收）、高活性成分、不刺激肠胃。</a></li>
              <li><a class="btn_show" href="#10">&gt; 所有产品都含有天然雨生红球藻（富含天然虾青素）。</a></li>
              <li><a class="btn_show" href="#11">&gt; 虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂。</a></li>
            </ul>
          </div>
          <div class="pages">
            <ul>
              <li><a href="javascript:;"> &lt; </a></li>
              <li class="active"><a href="#"> 1 </a></li>
              <li><a href="#"> 2 </a></li>
              <li><a href="#"> 3 </a></li>
              <li><a href="#"> 4 </a></li>
              <li><a href="#"> ... </a></li>
              <li><a href="#"> 6 </a></li>
              <li><a href="javascript:;"> &gt; </a></li>
              <li><a href="javascript:;"> 下一页 </a></li>
            </ul>
          </div>
        </div>
        <div class="news_cnt" style="display:none;">
          <div id="promptBox">
            <a href="javascript:;" class="btn_close">X</a>
            <div class="title">我们把营养补充配方制成口服混悬液形式#1</div>
            <div class="content">
              <p>
BoP S.L. 联合巴塞罗那大学健康医学实验室共同研发近百种天然健康营养品，我 们的研发人员有着二十多年营养与药剂开发经验，产品品牌在欧洲拥有极高的知 名度和美誉度。为了满足消费者“选择最佳天然营养品的健康需求”。</p>
<p>
凭借其复方、液态、高效属性呈现出一种到目前为止远远超出市场的全新产品 概念。 旨在让中国的消费者体验品味一种全新自我滋养生活方式，从而实 现持续的、平衡的、整体健康的生活哲学。
BoP S.L. 联合巴塞罗那大学健康医学实验室共同研发近百种天然健康营养品，我 们的研发人员有着二十多年营养与药剂开发经验，产品品牌在欧洲拥有极高的知 名度和美誉度。为了满足消费者“选择最佳天然营养品的健康需求”。</p>
<p>
凭借其复方、液态、高效属性呈现出一种到目前为止远远超出市场的全新产品 概念。 旨在让中国的消费者体验品味一种全新自我滋养生活方式，从而实 现持续的、平衡的、整体健康的生活哲学。</p>
<p>
BoP S.L. 联合巴塞罗那大学健康医学实验室共同研发近百种天然健康营养品，我 们的研发人员有着二十多年营养与药剂开发经验，产品品牌在欧洲拥有极高的知 名度和美誉度。为了满足消费者“选择最佳天然营养品的健康需求”。</p>
<p>
凭借其复方、液态、高效属性呈现出一种到目前为止远远超出市场的全新产品 概念。 旨在让中国的消费者体验品味一种全新自我滋养生活方式，从而实 现持续的、平衡的、整体健康的生活哲学。</p>
<p>
BoP S.L. 联合巴塞罗那大学健康医学实验室共同研发近百种天然健康营养品，我 们的研发人员有着二十多年营养与药剂开发经验，产品品牌在欧洲拥有极高的知 名度和美誉度。为了满足消费者“选择最佳天然营养品的健康需求”。</p>
<p>
凭借其复方、液态、高效属性呈现出一种到目前为止远远超出市场的全新产品 概念。 旨在让中国的消费者体验品味一种全新自我滋养生活方式，从而实 现持续的、平衡的、整体健康的生活哲学。</p>
<p>
BoP S.L. 联合巴塞罗那大学健康医学实验室共同研发近百种天然健康营养品，我 们的研发人员有着二十多年营养与药剂开发经验，产品品牌在欧洲拥有极高的知 名度和美誉度。为了满足消费者“选择最佳天然营养品的健康需求”。</p>
<p>
凭借其复方、液态、高效属性呈现出一种到目前为止远远超出市场的全新产品 概念。 旨在让中国的消费者体验品味一种全新自我滋养生活方式，从而实 现持续的、平衡的、整体健康的生活哲学。</p>
<p>
BoP S.L. 联合巴塞罗那大学健康医学实验室共同研发近百种天然健康营养品，我 们的研发人员有着二十多年营养与药剂开发经验，产品品牌在欧洲拥有极高的知 名度和美誉度。为了满足消费者“选择最佳天然营养品的健康需求”。</p>
            </div>
            <div class="pages">
              <ul>
                <li><a href="javascript:;"> &lt; </a></li>
                <li class="active"><a href="#"> 1 </a></li>
                <li><a href="#"> 2 </a></li>
                <li><a href="javascript:;"> &gt; </a></li>
                <li><a href="javascript:;"> 下一页 </a></li>
              </ul>
            </div>
          </div>
          <div id="promptBox">
            <a href="javascript:;" class="btn_close">X</a>
            <div class="title">虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂#2</div>
            <div class="content">
              <p>
BoP S.L. 联合巴塞罗那大学健康医学实验室共同研发近百种天然健康营养品，我 们的研发人员有着二十多年营养与药剂开发经验，产品品牌在欧洲拥有极高的知 名度和美誉度。为了满足消费者“选择最佳天然营养品的健康需求”。</p>
<p>
凭借其复方、液态、高效属性呈现出一种到目前为止远远超出市场的全新产品 概念。 旨在让中国的消费者体验品味一种全新自我滋养生活方式，从而实 现持续的、平衡的、整体健康的生活哲学。
BoP S.L. 联合巴塞罗那大学健康医学实验室共同研发近百种天然健康营养品，我 们的研发人员有着二十多年营养与药剂开发经验，产品品牌在欧洲拥有极高的知 名度和美誉度。为了满足消费者“选择最佳天然营养品的健康需求”。</p>
<p>
凭借其复方、液态、高效属性呈现出一种到目前为止远远超出市场的全新产品 概念。 旨在让中国的消费者体验品味一种全新自我滋养生活方式，从而实 现持续的、平衡的、整体健康的生活哲学。</p>
<p>
BoP S.L. 联合巴塞罗那大学健康医学实验室共同研发近百种天然健康营养品，我 们的研发人员有着二十多年营养与药剂开发经验，产品品牌在欧洲拥有极高的知 名度和美誉度。为了满足消费者“选择最佳天然营养品的健康需求”。</p>
            </div>
            <div class="pages">
              <ul>
                <li><a href="javascript:;"> &lt; </a></li>
                <li><a href="javascript:;"> &gt; </a></li>
              </ul>
            </div>
          </div>
          <div id="promptBox">
            <a href="javascript:;" class="btn_close">X</a>
            <div class="title">虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂#3</div>
            <div class="content">
              <p>
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
              </p>
            </div>
            <div class="pages">
              <ul>
                <li><a href="javascript:;"> &lt; </a></li>
                <li><a href="javascript:;"> &gt; </a></li>
              </ul>
            </div>
          </div>
          <div id="promptBox">
            <a href="javascript:;" class="btn_close">X</a>
            <div class="title">虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂#4</div>
            <div class="content">
              <p>
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
              </p>
            </div>
            <div class="pages">
              <ul>
                <li><a href="javascript:;"> &lt; </a></li>
                <li><a href="javascript:;"> &gt; </a></li>
              </ul>
            </div>
          </div>
          <div id="promptBox">
            <a href="javascript:;" class="btn_close">X</a>
            <div class="title">虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂#5</div>
            <div class="content">
              <p>
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
              </p>
            </div>
            <div class="pages">
              <ul>
                <li><a href="javascript:;"> &lt; </a></li>
                <li><a href="javascript:;"> &gt; </a></li>
              </ul>
            </div>
          </div>
          <div id="promptBox">
            <a href="javascript:;" class="btn_close">X</a>
            <div class="title">虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂#6</div>
            <div class="content">
              <p>
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
              </p>
            </div>
            <div class="pages">
              <ul>
                <li><a href="javascript:;"> &lt; </a></li>
                <li><a href="javascript:;"> &gt; </a></li>
              </ul>
            </div>
          </div>
          <div id="promptBox">
            <a href="javascript:;" class="btn_close">X</a>
            <div class="title">虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂#7</div>
            <div class="content">
              <p>
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
              </p>
            </div>
            <div class="pages">
              <ul>
                <li><a href="javascript:;"> &lt; </a></li>
                <li><a href="javascript:;"> &gt; </a></li>
              </ul>
            </div>
          </div>
          <div id="promptBox">
            <a href="javascript:;" class="btn_close">X</a>
            <div class="title">虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂#8</div>
            <div class="content">
              <p>
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂
              </p>
            </div>
            <div class="pages">
              <ul>
                <li><a href="javascript:;"> &lt; </a></li>
                <li><a href="javascript:;"> &gt; </a></li>
              </ul>
            </div>
          </div>
          <div id="promptBox">
            <a href="javascript:;" class="btn_close">X</a>
            <div class="title">虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂#9</div>
            <div class="content">
              <p>
                虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂9
              </p>
            </div>
            <div class="pages">
              <ul>
                <li><a href="javascript:;"> &lt; </a></li>
                <li><a href="javascript:;"> &gt; </a></li>
              </ul>
            </div>
          </div>
          <div id="promptBox">
            <a href="javascript:;" class="btn_close">X</a>
            <div class="title">虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂#10</div>
            <div class="content">
              <p>
                虾青素是目前为止最具创新10
              </p>
            </div>
            <div class="pages">
              <ul>
                <li><a href="javascript:;"> &lt; </a></li>
                <li><a href="javascript:;"> &gt; </a></li>
              </ul>
            </div>
          </div>
          <div id="promptBox">
            <a href="javascript:;" class="btn_close">X</a>
            <div class="title">虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂#11</div>
            <div class="content">
              <p>
BoP S.L. 联合巴塞罗那大学健康医学实验室共同研发近百种天然健康营养品，我 们的研发人员有着二十多年营养与药剂开发经验，产品品牌在欧洲拥有极高的知 名度和美誉度。为了满足消费者“选择最佳天然营养品的健康需求”。</p>
<p>
凭借其复方、液态、高效属性呈现出一种到目前为止远远超出市场的全新产品 概念。 旨在让中国的消费者体验品味一种全新自我滋养生活方式，从而实 现持续的、平衡的、整体健康的生活哲学。
BoP S.L. 联合巴塞罗那大学健康医学实验室共同研发近百种天然健康营养品，我 们的研发人员有着二十多年营养与药剂开发经验，产品品牌在欧洲拥有极高的知 名度和美誉度。为了满足消费者“选择最佳天然营养品的健康需求”。</p>
<p>
凭借其复方、液态、高效属性呈现出一种到目前为止远远超出市场的全新产品 概念。 旨在让中国的消费者体验品味一种全新自我滋养生活方式，从而实 现持续的、平衡的、整体健康的生活哲学。</p>
<p>
BoP S.L. 联合巴塞罗那大学健康医学实验室共同研发近百种天然健康营养品，我 们的研发人员有着二十多年营养与药剂开发经验，产品品牌在欧洲拥有极高的知 名度和美誉度。为了满足消费者“选择最佳天然营养品的健康需求”。</p>
            </div>
            <div class="pages">
              <ul>
                <li><a href="javascript:;"> &lt; </a></li>
                <li><a href="javascript:;"> &gt; </a></li>
              </ul>
            </div>
          </div>
          <div id="promptBox">
            <a href="javascript:;" class="btn_close">X</a>
            <div class="title">虾青素是目前为止最具创新、最具抗氧化能力的抗氧化剂#12</div>
            <div class="content">
              <p>
BoP S.L. 联合巴塞罗那大学健康医学实验室共同研发近百种天然健康营养品，我 们的研发人员有着二十多年营养与药剂开发经验，产品品牌在欧洲拥有极高的知 名度和美誉度。为了满足消费者“选择最佳天然营养品的健康需求”。</p>
<p>
凭借其复方、液态、高效属性呈现出一种到目前为止远远超出市场的全新产品 概念。 旨在让中国的消费者体验品味一种全新自我滋养生活方式，从而实 现持续的、平衡的、整体健康的生活哲学。
BoP S.L. 联合巴塞罗那大学健康医学实验室共同研发近百种天然健康营养品，我 们的研发人员有着二十多年营养与药剂开发经验，产品品牌在欧洲拥有极高的知 名度和美誉度。为了满足消费者“选择最佳天然营养品的健康需求”。</p>
<p>
凭借其复方、液态、高效属性呈现出一种到目前为止远远超出市场的全新产品 概念。 旨在让中国的消费者体验品味一种全新自我滋养生活方式，从而实 现持续的、平衡的、整体健康的生活哲学。</p>
<p>
BoP S.L. 联合巴塞罗那大学健康医学实验室共同研发近百种天然健康营养品，我 们的研发人员有着二十多年营养与药剂开发经验，产品品牌在欧洲拥有极高的知 名度和美誉度。为了满足消费者“选择最佳天然营养品的健康需求”。</p>
            </div>
            <div class="pages">
              <ul>
                <li><a href="javascript:;"> &lt; </a></li>
                <li><a href="javascript:;"> &gt; </a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <!--#main-->
  <div id="footer">
    <div class="f_box">
      <div class="f_logo">
        <a href="http://www.eophy.com/"><img src="images/base/code_1.png" alt="Code-1" /></a>
      </div>
      <div class="f_logo">
        <a href="javascript:;"><img src="images/base/code_2.png" alt="Code-weixin" /></a>
      </div>
      <div class="allright"><img src="images/base/footer-bottom.png" alt="Footer-1" /></div>
      <div class="f_menu">
        <ul>
          <li><a href="contact.html">联系我们</a></li>
          <li><a href="legal.html">法律声明</a></li>
          <li class="last"><a href="http://www.miit.gov.cn/" target="_blank" >京ICP备1204600号 </a> &copy Eophy. 保留所有权利.</li>
        </ul>
      </div>
      <div class="allright_2"><img src="images/base/footer-logo.png" alt="Footer-2" /></div>
    </div>
  </div>
</div>
</body>
</html>
