<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<title>产品中心 - eophy</title>
<meta name="keywords" content="悠菲中国, eophy" />
<meta name="description" content="悠菲中国, 品味最纯生活" />
<link type="image/png" rel="icon" href="favicon.png" />
<link rel="stylesheet" type="text/css" href="css/common.css" />
<link rel="stylesheet" type="text/css" href="css/layout.css" />
<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="js/PIE_IE678.js"></script>
<![endif]-->
<script type="text/javascript" src="js/private.js"></script>
<script type="text/javascript" src="js/jquery.imgpreload.min.js"></script>
<script type="text/javascript" src="js/slides.js" ></script>
<script type="text/javascript">
$(function(){
  $('#slides').slides({
    display_num: 5, 
    move: 1,
    click_move: 5,
    auto: true,
    auto_interval: 4000,
    controls: false,
    margin: 10,
    auto_hover: true,
    controls: true
  });
});
</script>
</head>
<body>
<div id="container">
  <div id="header">
    <div class="h_box">
      <div class="logo"><a href="index.html"><img src="images/logo.png" alt="" /></a></div>
      <div class="menu">
        <ul>
          <li><a href="index.html">首页</a></li>
          <li><a href="about_us.html">关于我们</a>
            <div class="submenu">
              <ul>
                  <li class="title"><a href="about_us.html">公司介绍</a></li>
                  <li class="title"><a href="about_us_2.html">品牌介绍</a></li>
                  <li class="title"><a href="about_us_3.html">品牌VIDEO</a></li>                  
              </ul>
            </div>
          </li>
          <li><a href="products.html" class="active">产品中心</a></li>
          <li><a href="news.html">新闻媒体</a></li>
          <li><a href="active.html">品牌活动</a></li>
          <li><a href="faq.html">营养咨询</a></li>
          <li><a href="sale.html">售卖专柜</a></li>
          <li><a href="shop.html">网络商城</a></li>
        </ul>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <!--#header-->
  <div id="main">
  <div class="homebk_product">
    <div class="product" style="display:block;">
      <div class="list" style="display:block;">
        <div class="cont">
          <table border="0" width="90%">
            <tr>
              <td width="50%"><img src="images/pic/product/product_1_title.png" /></td>
              <td width="50%" class="title">驻妍焕活</td>
            </tr>
            <tr>
              <td colspan="2">
                <div class="desc black">悠菲葡萄柚香菇复合藻类饮液</div>
                <p>
                <strong>什么是eobeauty?</strong><br />
                eobeauty 是集针叶樱桃、天然雨生红球藻、绿茶、盐藻提取物等多种植物成分<br />
                与干酵母于一体科学配伍的天然植物复合饮液，含有丰富的天然维生素C、天然<br />
                维生素E、天然虾青素、β 胡萝卜素、叶黄素、玉米黄质、茶多酚、天然微量元<br />
              素硒和适量的膳食纤维。
                </p>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <p><strong>建议什么时候饮用eobeauty ？</strong></p>
                 <div class="centerCnt">
                  <ul>
                    <li>当需要美化皮肤、头发、指甲时。</li>
                    <li>为了减轻所有的有害因素对皮肤的影响，从28 岁就可以饮用了。</li>
                    <li>当皮肤尤其是面部皮肤干燥、失去养分时。</li>
                    <li>当脸上出现细纹、细小斑点时。</li>
                  </ul>
                 </div>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <p><strong>营养师推荐</strong><br />
            本品所含针叶樱桃，每100g 果实中维C 含量达2445mg，是柠檬的35 倍，是名<br />
            副其实的“VC 之王”；雨生红球藻是目前所知天然虾青素含量最高的藻类，其<br />
            抗氧化能力是维生素C 的220 倍，维生素E 的550 倍，它已于2010 年被中国列<br />
            为新资源食品。
                </p>
              </td>
            </tr>
          </table>
        </div>
        <div class="cont">
          <div class="rtLogo"><img src="images/pic/product/rt_logo.png" alt=""></div>
          <div class="view"><img src="images/pic/product/product_1.png" alt=""></div>
        </div>
      </div>
      <div class="list">
        <div class="cont">
          <table border="0" width="90%">
            <tr>
              <td width="50%"><img src="images/pic/product/product_2_title.png" /></td>
              <td width="50%" class="title yellow">防疫卫士</td>
            </tr>
            <tr>
              <td colspan="2">
                <div class="desc yellow">悠菲葡萄柚香菇复合藻类饮液</div>
                <p><strong class="yellow">什么是eodefense？</strong><br />
                eodefense 是集葡萄柚、菊花、香菇、针叶樱桃、盐藻提取物、雨生红球藻等多种植物成分与干酵母于一体科学配伍的天然植物复合饮液，含有丰富香菇活性成分（D-β 葡聚糖 )、β 胡萝卜素、天然维生素C、天然维生素E、天然虾青素、天然微量元素硒等。
                </p>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <p><strong class="yellow">建议什么时候饮用eodefense？</strong></br>
                 <div class="centerCnt">
                  <ul>
                    <li>当您需要增强免疫力时。</li>
                    <li>换季或预防流感时。</li>
                    <li>提高应对大都市的环境污染的能力。</li>
                    <li>在比赛前饮用，降低过量运动对身体造成的危害。</li>
                    <li>当持续压力或持续疲劳时。</li>
                    <li>当初秋或初冬免疫力稍弱时饮用。</li>
                  </ul>
                 </div>
                </p>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <p><strong class="yellow">营养师推荐</strong><br />
            香菇富含多糖和甾醇，来源于有机农场。香菇含有6 种多糖，同时含有大量的维生素，香菇的蛋白质中含有18 种氨基酸，其中8 种是人体所必需的氨基酸。雨生红球藻中的虾青素和盐藻中所含有的β 胡萝卜素具有抗氧化功能，可以减少因为自由基引起的各种过氧化损伤，提高免疫细胞活力。
                </p>
              </td>
            </tr>
          </table>
        </div>
        <div class="cont">
          <div class="rtLogo"><img src="images/pic/product/rt_logo.png" alt=""></div>
          <div class="view"><img src="images/pic/product/product_2.png" alt=""></div>
        </div>
      </div>
      <div class="list">
        <div class="cont">
          <table border="0" width="90%">
            <tr>
              <td width="50%"><img src="images/pic/product/product_3_title.png" /></td>
              <td width="50%" class="title green">洁净平衡</td>
            </tr>
            <tr>
              <td colspan="2">
                <div class="desc green">悠菲蒲公英菊花复合茶饮液</div>
                <p><strong class="green">什么是eodepur？</strong><br />
eodepur 是集蒲公英、菊花、绿茶、针叶樱桃、天然雨生红球藻等多种植物成分于一体科学配伍的天然植物复合饮液 , 含有丰富的蒲公英活性成分、菊花活性成分、天然维生素C、E、天然虾青素、茶多酚和适量的菊粉膳食纤维。
                </p>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <p><strong class="green">建议什么时候饮用eodepur？</strong></br>
                 <div class="centerCnt">
                  <ul>
                    <li>当您需要净化、排出身体毒素时。</li>
                    <li>正在进行节食计划或身体缺乏能量和活力时。</li>
                    <li>可将本品与eosilhouette搭配饮用。因其含有丰富的植物活性成分和多种维生素和天然矿物质，有利于补充节食造成的营养不良, 其水溶性的膳食纤维有助于保持理想的体重。</li>
                    <li>用于亚健康状态以及“治未病”的营养干预。注意：用于辅助治疗时，饮用需要详细咨询营养科医生。</li>
                    <li>当有不平衡的饮食作息习惯时，如：很少吃水果和蔬菜、经常外出就餐、不规则的作息。当有不健康的生活习惯如：酗酒，大量吸烟等。</li>
                  </ul>
                 </div>
                </p>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <p><strong class="green">营养师推荐</strong><br />
蒲公英和野菊花是药食同源的草本植物，富含多种植物活性成分，有很高的营养价值。雨生红球藻中的虾青素能减少因为自由基引起的各种过氧化损伤，抑制有毒物质的产生。
                </p>
              </td>
            </tr>
          </table>
        </div>
        <div class="cont">
          <div class="rtLogo"><img src="images/pic/product/rt_logo.png" alt=""></div>
          <div class="view"><img src="images/pic/product/product_3.png" alt=""></div>
        </div>
      </div>
      <div class="list">
        <div class="cont">
          <table border="0" width="90%">
            <tr>
              <td width="50%"><img src="images/pic/product/product_4_title.png" /></td>
              <td width="50%" class="title orange">活力激情</td>
            </tr>
            <tr>
              <td colspan="2">
                <div class="desc orange">悠菲玛咖雨生红球藻复合藻类饮液</div>
                <p><strong class="orange">什么是eoenergy？</strong><br />
eoenergy是集玛咖、天然雨生红球藻、针叶樱桃等多种植物成分与干酵母于一体科学配伍的天然植物复合饮液，含有丰富玛咖活性成分、维生素B族特别是维生素B6 与B12、天然维生素C、天然虾青素、天然矿物质等。
                </p>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <p><strong class="orange">建议什么时候饮用eoenergy？</strong></br>
                 <div class="centerCnt">
                  <ul>
                    <li>当您想增强能量，加速新陈代谢时。</li>
                    <li>存在不平衡或不健康的饮食作息习惯，需要改善时；当出现很少吃水果、蔬菜、经常外出就餐、不规则的作息时间和不规则的吃饭等情况时。</li>
                    <li>当正在进行节食或身体缺乏能量和活力时。建议将本品与eosilhouette搭配，进行膳食控制。</li>
                    <li>当您有不健康的生活习惯时，如酗酒、吸烟等。</li>
                    <li>当您承受较大压力时，身处被污染的环境、受到睡眠不足或睡眠质量差等不利因素的影响时。</li>
                    <li>用于亚健康状态的基础预防或者辅助治疗手段。注意：用于辅助治疗时，需要详细咨询营养科医生。</li>
                  </ul>
                 </div>
                </p>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <p><strong class="orange">营养师推荐</strong><br />
玛咖是一种天然药食两用植物，含有玛咖烯和玛咖酰胺两种活性成分，通过调节内分泌从根本上缓解慢性疲劳问题。2002年，玛咖成为韩日世界杯运动员指定营养品，在我国被认定为新资源食品。
                </p>
              </td>
            </tr>
          </table>
        </div>
        <div class="cont">
          <div class="rtLogo"><img src="images/pic/product/rt_logo.png" alt=""></div>
          <div class="view"><img src="images/pic/product/product_4.png" alt=""></div>
        </div>
      </div>
      <div class="list">
        <div class="cont">
          <table border="0" width="90%">
            <tr>
              <td width="50%"><img src="images/pic/product/product_5_title.png" /></td>
              <td width="50%" class="title blue">纤盈紧致</td>
            </tr>
            <tr>
              <td colspan="2">
                <div class="desc blue">悠菲葡萄柚蒲公英复合茶饮液</div>
                <p><strong class="blue">什么是eosilhouette？</strong><br />
eosilhouette是集葡萄柚、蒲公英、针叶樱桃、天然雨生红球藻、绿茶等多种植物成分与干酵母于一体科学配伍的天然植物复合饮液，含有丰富的葡萄柚活性成分、蒲公英活性成分、天然维生素C、E、P、天然虾青素及菊粉膳食纤维、氨基酸、天然微量元素铬等。
                </p>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <p><strong class="blue">建议什么时候饮用eosihouette？</strong></br>
                 <div class="centerCnt">
                  <ul>
                    <li>当您想恢复理想身材时。</li>
                    <li>与您的膳食控制计划结合。</li>
                    <li>与eodepur搭配饮用。因eodepur含有丰富的蒲公英、菊花活性成分，有助于利尿排水及清洁体内环境。</li>
                  </ul>
                 </div>
                </p>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <p><strong class="blue">营养师推荐</strong><br />
100g葡萄柚膳食纤维高达10g以上，而热量却低于150kj；天然微量元素铬在糖脂代谢中起着重要的作用，能加速脂肪的分解。雨生红球藻中的虾青素能减少因为运动减肥而导致的机体过氧化损伤。
                </p>
              </td>
            </tr>
          </table>
        </div>
        <div class="cont">
          <div class="rtLogo"><img src="images/pic/product/rt_logo.png" alt=""></div>
          <div class="view"><img src="images/pic/product/product_5.png" alt=""></div>
        </div>
      </div>
      <div class="list">
        <div class="cont">
          <table border="0" width="90%">
            <tr>
              <td width="50%"><img src="images/pic/product/product_6_title.png" /></td>
              <td width="50%" class="title">弹力幼滑</td>
            </tr>
            <tr>
              <td colspan="2">
                <div class="desc">悠菲雨生红球藻复合蛋白饮液</div>
                <p><strong class="">什么是eoskin？</strong><br />
eoskin是集5000mg海洋鱼胶原蛋白和天然雨生红球藻与干酵母于一体的天然植物复合饮液，含有丰富的胶原蛋白、天然维生素C、天然维生素E、B维生素、天然虾青素等。
                </p>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <p><strong class="">建议什么时候饮用eoskin？</strong></br>
                 <div class="centerCnt">
                  <ul>
                    <li>当您想让皮肤更加美丽时。</li>
                    <li>身体或面部皮肤有痘痘、炎症时。</li>
                    <li>身体或面部皮肤松驰，缺乏光滑、弹性、水分时。</li>
                    <li>面部皮肤在化妆后，需要补充营养时。</li>
                  </ul>
                 </div>
                </p>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <p><strong class="">营养师推荐</strong><br />
海洋鱼类的胶原蛋白具有低抗原性、低过敏性、变性温度低、可溶性高、易被蛋白酶水解等特性。其组成结构与人体最接近，吸收率也最高。雨生红球藻中的天然虾青素能够很好的促进摄入胶原蛋白的吸收与人体胶原蛋白的合成。
                </p>
              </td>
            </tr>
          </table>
        </div>
        <div class="cont">
          <div class="rtLogo"><img src="images/pic/product/rt_logo.png" alt=""></div>
          <div class="view"><img src="images/pic/product/product_6.png" alt=""></div>
        </div>
      </div>
      <div class="list">
        <div class="cont">
          <table border="0" width="90%">
            <tr>
              <td width="50%"><img src="images/pic/product/product_7_title.png" /></td>
              <td width="50%" class="title cyan">恬睡静怡</td>
            </tr>
            <tr>
              <td colspan="2">
                <div class="desc cyan">悠菲西番莲核桃复合藻类饮液</div>
                <p><strong class="cyan">什么是eosleep？</strong><br />
eosleep是集西番莲、核桃、天然雨生红球藻等多种植物成分于一体科学配伍的天然植物复合饮液，含有丰富蛋白质、亚油酸、亚麻酸、碳水化合物、还原糖、多种维生素、类胡萝卜素、氨基酸、天然维生素C、天然维生素E、天然虾青素和适量膳食纤维。
                </p>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <p><strong class="cyan">建议什么时候饮用eosleep？</strong></br>
                 <div class="centerCnt">
                  <ul>
                    <li>当遭受失眠困扰，想睡个好觉时。</li>
                    <li>多梦、易惊醒、精神压力大、疲劳感积聚，不易入睡时。</li>
                  </ul>
                 </div>
                </p>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <p><strong class="cyan">营养师推荐</strong><br />
西番莲是一种药食两用植物，富含人体所需的类黄酮、蛋白质、还原糖、十七种氨基酸、多种维生素和类胡萝卜素以及钙、铁等多种微量元素。天然虾青素的抗氧化能力可以直接消除大脑的疲劳，保护褪黑素，不仅让睡眠更有规律，而且大大缓解精神压力。
                </p>
              </td>
            </tr>
          </table>
        </div>
        <div class="cont">
          <div class="rtLogo"><img src="images/pic/product/rt_logo.png" alt=""></div>
          <div class="view"><img src="images/pic/product/product_7.png" alt=""></div>
        </div>
      </div>
      <div class="list">
        <div class="cont">
          <table border="0" width="90%">
            <tr>
              <td width="50%"><img src="images/pic/product/product_8_title.png" /></td>
              <td width="50%" class="title blue2">炯炯有神</td>
            </tr>
            <tr>
              <td colspan="2">
                <div class="desc blue2">悠菲盐藻雨生红球藻复合藻类饮液</div>
                <p><strong class="blue2">什么是eovision？</strong><br />
eovision是集盐藻、天然雨生红球藻等多种植物成分与干酵母于一体的天然植物复合饮液，含有丰富β胡萝卜素、叶黄素和玉米黄质、天然维生素C、天然维生素E、天然虾青素、天然微量元素硒。
                </p>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <p><strong class="blue2">建议什么时候饮用eovision？</strong></br>
                 <div class="centerCnt">
                  <ul>
                    <li>当需要保持良好视力时。</li>
                    <li>长期使用电脑、手机、电视，用眼强度高时饮用。</li>
                    <li>长期阅读书籍时。</li>
                  </ul>
                 </div>
                </p>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <p><strong class="blue2">营养师推荐</strong><br />
叶黄素和玉米黄质作为抗氧化剂具有保护视力免遭强光伤害的作用，可以保护视力、缓解视疲劳，其含有的β胡萝卜素含量是胡萝卜的160倍。盐藻是为数不多的同时含有叶黄素、玉米黄素与β-胡萝卜素的食物天然来源。本品中的酵母富含天然微量元素硒，其含量比富硒茶高1000 倍。天然虾青素通过其卓越的抗氧化性, 可修复的视觉损伤包括：光照损伤、光感受器细胞损伤、神经节细胞损伤、神经元损伤、发炎性损伤。
                </p>
              </td>
            </tr>
          </table>
        </div>
        <div class="cont">
          <div class="rtLogo"><img src="images/pic/product/rt_logo.png" alt=""></div>
          <div class="view"><img src="images/pic/product/product_8.png" alt=""></div>
        </div>
      </div>
    </div>
    <div class="mainbox_product">
      <div class="home_container"><!--homelist-->
        <div class="homebanner" id="homebanner">
          <div class="slides_container">
            <ul id="slides">
              <li>
                <a class="btn_show" href="javascript:;" onclick="showpage(1);" title="slide#1">
                  <img src="images/pic/product/index/1.png" alt="No pic"
                  onMouseOver="this.src='images/pic/product/index/1-hover.png'"
                  onMouseOut="this.src='images/pic/product/index/1.png'" />
                  <img class="no-show" src="images/pic/product/index/1-hover.png" alt="No pic" />
                </a>
              </li>
              <li>
                <a class="btn_show" href="javascript:;" onclick="showpage(2);" title="slide#2">
                  <img src="images/pic/product/index/2.png" alt="No pic"
                  onMouseOver="this.src='images/pic/product/index/2-hover.png'"
                  onMouseOut="this.src='images/pic/product/index/2.png'" />
                  <img class="no-show" src="images/pic/product/index/2-hover.png" alt="No pic" />
                </a>
              </li>
              <li>
                <a class="btn_show" href="javascript:;" onclick="showpage(3);" title="slide#3">
                  <img src="images/pic/product/index/3.png" alt="No pic"
                  onMouseOver="this.src='images/pic/product/index/3-hover.png'"
                  onMouseOut="this.src='images/pic/product/index/3.png'" />
                  <img class="no-show" src="images/pic/product/index/3-hover.png" alt="No pic" />
                </a>
              </li>
              <li>
                <a class="btn_show" href="javascript:;" onclick="showpage(4);"  title="slide#4">
                  <img src="images/pic/product/index/4.png" alt="No pic"
                  onMouseOver="this.src='images/pic/product/index/4-hover.png'"
                  onMouseOut="this.src='images/pic/product/index/4.png'" />
                  <img class="no-show" src="images/pic/product/index/4-hover.png" alt="No pic" />
                </a>
              </li>
              <li>
                <a class="btn_show" href="javascript:;" onclick="showpage(5);" title="slide#5">
                  <img src="images/pic/product/index/5.png" alt="No pic"
                  onMouseOver="this.src='images/pic/product/index/5-hover.png'"
                  onMouseOut="this.src='images/pic/product/index/5.png'" />
                  <img class="no-show" src="images/pic/product/index/5-hover.png" alt="No pic" />
                </a>
              </li>
              <li>
                <a class="btn_show" href="javascript:;" onclick="showpage(6);" title="slide#6">
                  <img src="images/pic/product/index/6.png" alt="No pic"
                  onMouseOver="this.src='images/pic/product/index/6-hover.png'"
                  onMouseOut="this.src='images/pic/product/index/6.png'" />
                  <img class="no-show" src="images/pic/product/index/6-hover.png" alt="No pic" />
                </a>
              </li>
              <li>
                <a class="btn_show" href="javascript:;" onclick="showpage(7);" title="slide#7">
                  <img src="images/pic/product/index/7.png" alt="No pic"
                  onMouseOver="this.src='images/pic/product/index/7-hover.png'"
                  onMouseOut="this.src='images/pic/product/index/7.png'" />
                  <img class="no-show" src="images/pic/product/index/7-hover.png" alt="No pic" />
                </a>
              </li>
              <li>
                <a class="btn_show" href="javascript:;" onclick="showpage(8);" title="slide#8">
                  <img src="images/pic/product/index/8.png" alt="No pic"
                  onMouseOver="this.src='images/pic/product/index/8-hover.png'"
                  onMouseOut="this.src='images/pic/product/index/8.png'" />
                  <img class="no-show" src="images/pic/product/index/8-hover.png" alt="No pic" />
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div><!--#main-->
  </div>
  </div>
  <div id="footer">
    <div class="f_box">
      <div class="f_logo">
        <a href="http://www.eophy.com/"><img src="images/base/code_1.png" alt="Code-1" /></a>
      </div>
      <div class="f_logo">
        <a href="javascript:;"><img src="images/base/code_2.png" alt="Code-weixin" /></a>
      </div>
      <div class="allright"><img src="images/base/footer-bottom.png" alt="Footer-1" /></div>
      <div class="f_menu">
        <ul>
          <li><a href="contact.html">联系我们</a></li>
          <li><a href="legal.html">法律声明</a></li>
          <li class="last"><a href="http://www.miit.gov.cn/" target="_blank" >京ICP备1204600号 </a> &copy Eophy. 保留所有权利.</li>
        </ul>
      </div>
      <div class="allright_2"><img src="images/base/footer-logo.png" alt="Footer-2" /></div>
    </div>
  </div>
</div>
<script type="text/javascript">
  function showpage(pageId) {
    $('.product').children().hide(); //css('z-index','-999');
    $('.product').children(':eq(' + (pageId-1) + ')').fadeIn();
  }
</script>
</body>
</html>
