<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<title>网络商城 - eophy</title>
<meta name="keywords" content="悠菲中国, eophy" />
<meta name="description" content="悠菲中国, 品味最纯生活" />
<link type="image/png" rel="icon" href="favicon.png" />
<link rel="stylesheet" type="text/css" href="css/common.css" />
<link rel="stylesheet" type="text/css" href="css/layout.css" />
<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="js/PIE_IE678.js"></script>
<![endif]-->
<script type="text/javascript" src="js/private.js"></script>
</head>
<body>
<div id="container">
  <div id="header">
    <div class="h_box">
      <div class="logo"><a href="index.html"><img src="images/logo.png" alt="" /></a></div>
      <div class="menu">
        <ul>
          <li><a href="index.html">首页</a></li>
          <li><a href="about_us.html">关于我们</a>
            <div class="submenu">
              <ul>
                  <li class="title"><a href="about_us.html">公司介绍</a></li>
                  <li class="title"><a href="about_us_2.html">品牌介绍</a></li>
                  <li class="title"><a href="about_us_3.html">品牌VIDEO</a></li>                  
              </ul>
            </div>
          </li>
          <li><a href="products.html">产品中心</a></li>
          <li><a href="news.html">新闻媒体</a></li>
          <li><a href="active.html">品牌活动</a></li>
          <li><a href="faq.html">营养咨询</a></li>
          <li><a href="sale.html">售卖专柜</a></li>
          <li><a href="shop.html" class="active">网络商城</a></li>
        </ul>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <!--#header-->
  <div id="main">
  <div class="homebk"><img src="images/pic/shop.jpg" alt="" /></div>
  <div class="mainbox2">
    <div class="homelist">
      <div class="box">
        <div class="shop">
          <div class="shop_cnt"><img src="images/pic/shop_1.jpg" alt="" /><a href="#">点击进入</a></div>
          <div class="shop_cnt"><img src="images/pic/shop_2.jpg" alt="" /><a href="#">点击进入</a></div>
          <div class="shop_cnt"><img src="images/pic/shop_3.jpg" alt="" /><a href="#">点击进入</a></div>
          <div class="shop_cnt"><img src="images/pic/shop_4.jpg" alt="" /><a href="#">点击进入</a></div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <!--#main-->
  <div id="footer">
    <div class="f_box">
      <div class="f_logo">
        <a href="http://www.eophy.com/"><img src="images/base/code_1.png" alt="Code-1" /></a>
      </div>
      <div class="f_logo">
        <a href="javascript:;"><img src="images/base/code_2.png" alt="Code-weixin" /></a>
      </div>
      <div class="allright"><img src="images/base/footer-bottom.png" alt="Footer-1" /></div>
      <div class="f_menu">
        <ul>
          <li><a href="contact.html">联系我们</a></li>
          <li><a href="legal.html">法律声明</a></li>
          <li class="last"><a href="http://www.miit.gov.cn/" target="_blank" >京ICP备1204600号 </a> &copy Eophy. 保留所有权利.</li>
        </ul>
      </div>
      <div class="allright_2"><img src="images/base/footer-logo.png" alt="Footer-2" /></div>
    </div>
  </div>
</div>
</body>
</html>
