<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<title>会员服务条款 - eophy</title>
<meta name="keywords" content="悠菲中国, eophy" />
<meta name="description" content="悠菲中国, 品味最纯生活" />
<link type="image/png" rel="icon" href="favicon.png" />
<link rel="stylesheet" type="text/css" href="css/common.css" />
<link rel="stylesheet" type="text/css" href="css/layout.css" />
<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="js/PIE_IE678.js"></script>
<![endif]-->
<script type="text/javascript" src="js/private.js"></script>
</head>
<body>
<div id="container">
  <div id="header">
    <div class="h_box">
      <div class="logo"><a href="index.html"><img src="images/logo.png" alt="" /></a></div>
      <div class="menu">
        <ul>
          <li><a href="index.html">首页</a></li>
          <li><a href="about_us.html">关于我们</a>
            <div class="submenu">
              <ul>
                  <li class="title"><a href="about_us.html">公司介绍</a></li>
                  <li class="title"><a href="about_us_2.html">品牌介绍</a></li>
                  <li class="title"><a href="about_us_3.html">品牌VIDEO</a></li>                  
              </ul>
            </div>
          </li>
          <li><a href="products.html">产品中心</a></li>
          <li><a href="news.html">新闻媒体</a></li>
          <li><a href="active.html">品牌活动</a></li>
          <li><a href="faq.html">营养咨询</a></li>
          <li><a href="sale.html">售卖专柜</a></li>
          <li><a href="shop.html">网络商城</a></li>
        </ul>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <!--#header-->
  <div id="main">
  <div class="mainbox_legel">
      <div class="box">
        <div class="legal">
          <div class="title2">eophy会员服务条款<div class="right back"><a href="register.html">返回</a></div></div>
          <div class="cnt">
<p><strong>免责声明</strong>
<br/>
网站提醒您：在使用网站前，请您务必仔细阅读并透彻理解本声明。您可以选择不使用网站，但如果您使用网站，您的使用行为将被视为对本声明全部内容的认可。<br>
&bull; 您应该对使用网站的结果自行承担风险。因网络状况、通讯线路、第三方网站等任何原因而导致您不能正常使用网站，网站不承担任何法律责任。<br>
&bull; 网站尊重并保护所有使用网站用户的企业或个人隐私权，您的用户名、地址等企业或企业或个人资料，非经您亲自许可或根据相关法律、法规的强制性规定，网站不会主动地泄露给第三方。<br>
</p>
<p><strong>知识产权声明</strong><br />
网站拥有本网站内所有资料的版权，各分频道权利声明有特殊规定的，从其规定。任何被授权的浏览、复制、打印和传播属于本网站内的资料必须符合以下条件：<br />
&bull;所有的资料和图象均以获得信息为目的；<br />
&bull;所有的资料和图象均不得用于商业目的；<br />
&bull;所有的资料、图象及其任何部分都必须包括此版权声明；<br />
本网站所有的产品、技术与所有程序均属于网站知识产权，在此并未授权。&quot;网站&quot;及相关图形等为网站的企业或被授权商标。<br />
未经网站许可，任何人不得擅自（包括但不限于：以非法的方式复制、传播、展示、镜像、上载、下载）使用。否则，网站将依法追究法律责任。</p>
<p><strong>网站隐私权保护声明</strong><br />
网站非常重视对您隐私的保护，在您使用网站提供的服务前，请您仔细阅读如下声明。<br />
为了给您提供更准确、更有针对性的服务，网站可能会以如下方式，使用您提交的企业或个人信息。但网站会以高度的勤勉义务对待这些信息，在未征得您许可的情况下，不会将这些信息对外公开或向第三方提供。</p>
<p>&bull;保有您提供的信息<br />
网站会在您自愿选择服务或提供信息的情况下收集您的企业或个人信息，并将这些信息进行整合，以便向您提供更好的用户服务。请您在注册或被授权时及时、详尽及准确的提供企业或个人资料，并不断更新企业或个人资料，符合及时、详尽准确的要求。所有原始键入的资料将引用为企业或个人资料。如果因企业或个人信息不真实而引起的问题，由您自行承担相应的后果。请您不要将您的帐号、密码转让或出借予他人使用。如您发现您的帐号遭他人非法使用，应立即通知网站。因黑客行为或用户的保管疏忽导致帐号、密码遭他人非法使用，网站不承担责任。</p>
<p>&bull;cookies等技术的使用<br />
网站使用cookies，以便您能登录我们的服务，并允许设定您特定的服务选项。<br />
运用cookies技术，网站网站能够为您提供更加周到的个性化服务。同时，当您通过网站的联盟网站访问网站时，我们允许将位于网站域的cookies发送给网站的Web服务器。通过使用cookies所收集的任何内容均以集合的、匿名的方式进行。 您可以选择接受或拒绝 cookies。您可以通过修改浏览器设置的方式拒绝cookies。如果您选择拒绝cookies，则您可能无法登录或使用依赖于cookies 的网站服务或功能。</p>
<p>&bull;保有您的使用记录<br />
当您使用网站的服务时，服务器会自动记录一些信息，包括URL、IP地址、浏览器的类型和使用的语言以及访问日期和时间等。<br />
&bull;在如下情况下，网站会遵照您的意愿或法律的规定披露您的企业或个人信息，由此引发的问题将由您企业或个人承担：<br />
（1）事先获得您的授权；<br />
（2）只有透露你的企业或企业或个人资料，才能提供你所要求的产品和服务；<br />
（3）根据有关的法律法规要求；<br />
（4）按照相关政府主管部门的要求；<br />
（5）为维护网站的合法权益。<br />
（6）您同意让第三方共享资料。<br />
（7）我们发现您违反了网站公司服务条款或任何其他产品服务的使用规定。</p>
<p><strong>隐私权政策的修订</strong><br />
网站公司时常会对隐私权政策进行修改。如果在使用用户企业或个人信息政策方面有修改时，我们会在网页中显著的位置发布相关规定以便及时通知用户。</p>
<p><strong>问题与建议</strong><br />
如果您还有其他问题和建议，请告知我们。<br />
网站会始终致力于在充分保护您隐私的前提下，为您提供更优质的体验和服务。</p>

          </div>
        </div>
      </div>
  </div>
  </div><!--#main-->
  <div id="footer">
    <div class="f_box">
      <div class="f_logo">
        <a href="http://www.eophy.com/"><img src="images/base/code_1.png" alt="Code-1" /></a>
      </div>
      <div class="f_logo">
        <a href="javascript:;"><img src="images/base/code_2.png" alt="Code-weixin" /></a>
      </div>
      <div class="allright"><img src="images/base/footer-bottom.png" alt="Footer-1" /></div>
      <div class="f_menu">
        <ul>
          <li><a href="contact.html">联系我们</a></li>
          <li><a href="legal.html">法律声明</a></li>
          <li class="last"><a href="http://www.miit.gov.cn/" target="_blank" >京ICP备1204600号 </a> &copy Eophy. 保留所有权利.</li>
        </ul>
      </div>
      <div class="allright_2"><img src="images/base/footer-logo.png" alt="Footer-2" /></div>
    </div>
  </div>
</div>
</body>
</html>
